<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='../styles/menu_modal.css'>
</head>
<body>
  <section id='modal' class='modal'>
    <!-- Header -->
    <header>
      <button class='close_menu'>
        <img src='../assets/svg/icons/close_menu.svg' alt='Icon'>
        <p>Close</p>
      </button>
    </header>

    <!-- Links -->
    <div class='links'>
      <a href='../index.html'>Home</a>
      <a href='../pages/about.html'>About</a>
      <a href='../pages/work.html'>Work</a>
      <a href='../pages/interactions.html'>Interactions</a>
        <a href='../pages/blogs.html'>Blogs</a>
      <a href='https://drive.google.com/file/d/1dl5iitIK1fgp_-02HhPzcJHcqCE95-yt/view?usp=sharing' target='_blank'>
        Resume
        <img src='../assets/svg/icons/link_external.svg' alt='Icon' class='icon'>
      </a>
    </div>
  </section>
</body>
</html>