/* Hero */

#hero > .container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px 0;
}

#hero > .container > .texts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#hero > .container > .texts > .heading_wrapper > h1 {
  width: 255px;
  color: #C5C5C5;
  line-height: 100%;
  /* font-family: var(--sf-pro-display-bold); */
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

#hero > .container > .texts > .heading_wrapper > h1:last-child {
  color: #232323;
  font-weight: 700;
}

#hero > .container > .texts > p {
  color: #C5C5C5;
}

#hero > .container > .image_container {
  width: fit-content;
  margin-bottom: -4px;
}

/* Introduction */

#introduction > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 80px 24px;
  background-color: var(--black);
}

#introduction > .container > h2 {
  color: #FFF;
  line-height: 160%;
  text-align: center;
  /* font-family: var(--sf-pro-display-bold); */
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 600;
}

/* Work Experience & Education */

#work_experience_and_education > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 64px 24px;
}

#work_experience_and_education > .container .icon {
  width: 32px;
  height: 32px;
}

#work_experience_and_education > .container .header.desktop {
  display: none !important;
}

#work_experience_and_education > .container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}

#work_experience_and_education > .container > div > h2 {
  /* font-family: var(--sf-pro-display-bold); */
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

#work_experience_and_education > .container > div > .container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#work_experience_and_education > .container > div > .container > .experience {
  display: flex;
  gap: 16px;
}

#work_experience_and_education > .container > div > .container > .experience > .icon_and_line {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#work_experience_and_education > .container > div > .container > .experience > .icon_and_line > .line {
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #DDD;
}

#work_experience_and_education > .container > div > .container > .experience > .details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .header {
  margin-bottom: 16px;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .header,
#work_experience_and_education > .container > div > .container > .experience > .details > .header > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .header > div > p {
  /* font-family: var(--sf-pro-display-medium); */
  letter-spacing: -0.16px;
  font-size: 14px;
  font-weight: 550;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .header > div > p:last-child,
#work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details > .header > div > p:last-child {
  /* font-family: var(--sf-pro-display-regular); */
  letter-spacing: -0.16px;
  font-weight: 500;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#work_experience_and_education > .container > div > .container > .experience > .details > p,
#work_experience_and_education > .container > div > .container > .experience > .details > .paragraphs > p {
  width: 100%;
  margin-top: -8px;
  padding-bottom: 16px;
  color: #999;
  font-size: 12px;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .paragraphs > p {
  padding-bottom: 12px;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .experience {
  display: flex;
  gap: 16px;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .experience > .icon_and_line {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .experience > .icon_and_line > .line {
  display: inline-block;
  width: 1px;
  height: 100%;
  background-color: #EEE;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
  width: 100%;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details > .header,
#work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details > .header > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details > .header > div > p {
  color: #232323;
  /* font-family: var(--sf-pro-display-medium); */
  font-size: 14px;
  font-weight: 550;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details > .header > div:last-child > p {
  color: #CCC;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details p {
  color: #999;
  line-height: 18px;
  font-size: 12px;
  font-weight: 500;
}

#work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details > .paragraphs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Blogs */

#blogs > .container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 24px;
}

#blogs > .container > h2 {
  color: #D9D9D9;
  font-size: 24px;
  font-weight: 600;
}

#blogs > .container > .stacks {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#blogs > .container > .stacks > .stack {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#blogs > .container > .stacks > .stack > .thumbnail {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
}

#blogs > .container > .stacks > .stack:hover > .thumbnail > div {
  opacity: 1;
}

#blogs > .container > .stacks > .stack > .thumbnail > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 200ms ease-in-out;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

#blogs > .container > .stacks > .stack > .thumbnail > div > p {
  color: var(--secondary-color);
}

#blogs > .container > .stacks > .stack:nth-child(1) > .thumbnail {
  background-image: url('../assets/images/thumbnails/blog_post_1.webp');
}

#blogs > .container > .stacks > .stack:nth-child(2) > .thumbnail {
  background-image: url('../assets/images/thumbnails/blog_post_2.webp');
}

#blogs > .container > .stacks > .stack > .title_and_description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#blogs > .container > .stacks > .stack > .title_and_description > * {
  color: #CCC;
}

#blogs > .container > .stacks > .stack > .title_and_description > .title {
  font-size: 18px;
  font-weight: 550;
}

#blogs > .container > .stacks > .stack > .title_and_description > .description {
  font-size: 14px;
}

/* Tagline */

#tagline > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 64px 24px 48px;
}

#tagline > .container > h2 {
  width: 260px;
  color: #C5C5C5;
  line-height: 100%;
  font-size: 32px;
  font-weight: 600;
}

#tagline > .container > p {
  width: 260px;
  color: #C5C5C5;
  line-height: 20px;
  font-size: 16px;
}

/* Resume */

#resume > .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 48px 24px;
}

#resume > .container > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#resume > .container > div > .heading_and_paragraph {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#resume > .container > div > .heading_and_paragraph > h2 {
  color: #D9D9D9;
  font-size: 24px;
  font-weight: 600;
}

#resume > .container > div > .heading_and_paragraph > p {
  color: #D9D9D9;
  line-height: 20px;
  font-size: 14px;
}

#resume > .container > div > .btn > .suffix {
  transition: all 250ms ease;
}

#resume > .container > div > .btn:hover > .suffix {
  transform: translateX(2px);
}

#resume > .container > div > .btn > .suffix > .icon {
  width: 16px;
  filter: brightness(0) saturate(100%) invert(100%);
}

#resume > .container > img {
  box-shadow: 0px 0px 20px 0px #CCC;
}

/* Screen Width: 768px */

@media only screen and (min-width: 768px) {
  /* Hero */

  #hero > .container {
    gap: 64px;
    padding: 64px 64px 0;
  }

  #hero > .container > .texts {
    gap: 20px;
  }
  
  #hero > .container > .texts > .heading_wrapper > h1 {
    width: 400px;
    font-size: 60px;
  }
  
  #hero > .container > .texts > .heading_wrapper > h1:last-child {
    line-height: 90%;
    font-size: 60px;
  }
  
  #hero > .container > .texts > p {
    font-size: 24px;
  }
  
  #hero > .container > .image_container > img {
    width: 682px;
    height: 330px;
    /* width: fit-content;
    height: 750px;
    margin-left: -260px; */
  }

  /* Introduction */

  #introduction > .container {
    gap: 80px;
    padding: 120px 64px;
  }

  #introduction > .container > h2 {
    font-size: 22px;
  }

  /* Work Experience & Education */

  #work_experience_and_education > .container {
    padding: 80px 64px;
  }

  #work_experience_and_education > .container .icon {
    width: 40px;
    height: 40px;
  }

  #work_experience_and_education > .container > div > h2 {
    font-size: 28px;
  }

  #work_experience_and_education > .container > div > .container > .experience {
    gap: 20px;
  }

  #work_experience_and_education > .container > div > .container > .experience > .details > .header {
    margin-bottom: 32px;
  }

  #work_experience_and_education > .container > div > .container > .experience > .details > .header > div > p {
    font-size: 16px;
  }

  #work_experience_and_education > .container > div > .container > .experience > .details > p,
  #work_experience_and_education > .container > div > .container > .experience > .details > .paragraphs > p {
    margin-top: -16px;
    padding-bottom: 32px;
    font-size: 14px;
  }

  #work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details {
    gap: 24px;
    padding-bottom: 32px;
  }

  #work_experience_and_education > .container > div > .container > .experience > .details > .header,
  #work_experience_and_education > .container > div > .container > .experience > .details > .header > div {
    gap: 4px;
  }

  #work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details > .header > div > p {
    font-size: 16px;
  }
  
  #work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details p {
    line-height: 20px;
    font-size: 14px;
  }
  
  #work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details > .paragraphs {
    gap: 14px;
  }

  /* Blogs */

  #blogs > .container {
    gap: 40px;
    padding: 80px 64px;
  }

  #blogs > .container > h2 {
    font-size: 28px;
  }

  #blogs > .container > .stacks {
    flex-direction: row;
    gap: 32px;
  }

  #blogs > .container > .stacks > .stack > .thumbnail {
    height: 266px;
  }

  #blogs > .container > .stacks > .stack > .title_and_description > .title {
    font-size: 20px;
  }

  #blogs > .container > .stacks > .stack > .title_and_description > .description {
    font-size: 16px;
  }

  /* Tagline */

  #tagline > .container {
    gap: 24px;
    padding: 100px 24px 80px;
  }

  #tagline > .container > h2 {
    width: 480px;
    font-size: 48px;
  }

  #tagline > .container > p {
    width: 480px;
    line-height: 120%;
    font-size: 24px;
  }

  /* Resume */

  #resume > .container {
    gap: 80px;
    padding: 80px 64px;
  }

  #resume > .container > div {
    gap: 48px;
  }

  #resume > .container > div > .heading_and_paragraph > h2 {
    font-size: 28px;
  }

  #resume > .container > div > .heading_and_paragraph > p {
    line-height: 30px;
    font-size: 20px;
  }

  #resume > .container > img {
    width: 350px;
  }
}

/* Screen Width: 1280px */

@media only screen and (min-width: 1280px) {
  /* Hero */

  #hero > .container {
    align-items: center;
    gap: 80px;
    padding: 80px 120px 0;
  }

  #hero > .container > .texts {
    gap: 20px;
  }

  #hero > .container > .texts > .heading_wrapper > h1 {
    width: 415px;
    font-size: 64px !important;
  }

  #hero > .container > .texts > p {
    width: fit-content;
    font-size: 24px;
  }
  
  #hero > .container > .image_container > img {
    width: 827px;
    height: 400px;
  }

  /* Introduction */

  #introduction > .container {
    gap: 40px;
    padding: 200px 120px;
  }

  #introduction > .container > h2 {
    width: 800px;
  }

  /* Work Experience & Education */

  #work_experience_and_education > .container {
    gap: 100px;
    padding: 100px 200px;
  }

  #work_experience_and_education > .container .header.mobile {
    display: none !important;
  }

  #work_experience_and_education > .container .header.desktop {
    display: flex !important;
  }

  #work_experience_and_education > .container > div {
    width: 750px;
    gap: 80px;
  }

  #work_experience_and_education > .container > div > h2 {
    font-size: 32px;
  }

  #work_experience_and_education > .container > div > .container > .experience > .details > .header {
    margin-bottom: 40px;
  }

  #work_experience_and_education > .container > div > .container > .experience > .details > .header > div,
  #work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details > .header > div {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  #work_experience_and_education > .container > div > .container > .experience > .details > .header > div > p:last-child,
  #work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details > .header > div > p:last-child {
    color: #CCC !important;
  }

  #work_experience_and_education > .container > div > .container > .experience > .details > .header > div:last-child > p,
  #work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details > .header > div:last-child > p {
    color: #232323;
  }

  #work_experience_and_education > .container > div > .container > .experience > .details > p,
  #work_experience_and_education > .container > div > .container > .experience > .details > .paragraphs > p {
    margin-top: -24px;
    padding-bottom: 32px;
    font-size: 14px;
  }

  #work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details {
    padding-bottom: 40px;
  }
  
  #work_experience_and_education > .container > div > .container > .experience > .details > .experience > .details > .paragraphs {
    gap: 20px;
  }

  /* Blogs */

  #blogs > .container {
    padding: 80px 120px;
  }

  #blogs > .container > .stacks {
    flex-direction: row;
    gap: 32px;
  }

  #blogs > .container > .stacks > .stack {
    width: 100%;
  }

  #blogs > .container > .stacks > .stack > .thumbnail {
    height: 380px;
  }

  /* Tagline */

  #tagline > .container {
    gap: 24px;
    padding: 175px 24px 120px;
  }

  #tagline > .container > h2 {
    width: 500px;
    line-height: 110%;
    font-size: 48px;
  }

  #tagline > .container > p {
    width: 500px;
  }

  /* Resume */

  #resume > .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 120px;
  }

  #resume > .container > div {
    width: 550px;
    gap: 64px;
  }
}

/* Screen Width: 1440px */

@media only screen and (min-width: 1440px) {
  /* Hero */

  #hero > .container {
    justify-content: center;
  }

  /* Blogs */

  #blogs > .container {
    padding: 80px 200px;
  }

  /* Resume */

  #resume > .container {
    padding: 80px 200px 120px;
  }
}

/* Screen Width: 1745px */

@media only screen and (min-width: 1745px) {
  /* Blogs */

  #blogs > .container {
    padding: 80px 220px;
  }

  #blogs > .container > .stacks > .stack > .thumbnail {
    height: 420px;
  }

  /* Resume */

  #resume > .container {
    gap: 150px;
    padding: 80px 220px 120px;
  }

  #resume > .container > img {
    width: 400px;
  }
}

/* Screen Width: 1872px */

@media only screen and (min-width: 1872px) {
  #hero > .container,
  #blogs > .container,
  #resume > .container {
    padding-left: 280px;
    padding-right: 280px;
  }
}

/* Screen Width: 1920px */

@media only screen and (min-width: 1920px) {
  #hero > .container,
  #introduction > .container,
  #blogs > .container,
  #resume > .container {
    padding-left: 300px;
    padding-right: 300px;
  }
}