/* Navigation Bar */

header nav > a > .logo {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%);
}

header nav > ul > li > a,
header nav > ul > li > .link {
  color: var(--primary-color);
  text-decoration: none;
}

header nav > ul > li > button > .prefix .icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%);
}

/* Hero */

#hero > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 64px 24px;
}

#hero .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 350px;
}

#hero .header > h1,
#hero .header > p {
  text-align: center;
}

#hero .header > h1 {
  font-family: var(--sf-pro-display-bold);
  font-size: 24px;
}

#hero .header p {
  line-height: 18px;
  font-family: var(--sf-pro-display-medium);
  font-size: 14px;
}

#hero img {
  width: 350px;
}

/* About */

#about {
  background-color: #F2F2F2;
}

#about > .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 48px 24px;
}

#about > .container > .details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#about > .container > .details > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#about > .container > .details > div > div {
  display: flex;
  gap: 12px;
}

#about > .container > .details p {
  line-height: 20px;
  font-size: 14px;
}

#about > .container > .details > div > div > p {
  font-family: var(--sf-pro-display-bold);
}

#about > .container > .details > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#about > .container > .details > p {
  line-height: 20px;
}

/* Brand DNA Section */

#brand_dna_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#brand_dna_section > .container > h2 {
  text-align: center;
  font-family: var(--sf-pro-display-bold);
}

#brand_dna_section > .container > div {
  width: 100%;
  background-color: #000;
}

#brand_dna_section > .container > div h3 {
  color: #00A8E8;
  font-weight: 600;
}

#brand_dna_section > .container > div p {
  color: #FFF;
}

#brand_dna_section > .container > div > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px 16px;
}

#brand_dna_section > .container > div > .mission_and_vision {
  gap: 32px;
  padding-top: 32px;
}

#brand_dna_section > .container > div > .mission_and_vision > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#brand_dna_section > .container > div > .positioning_and_promise {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#brand_dna_section > .container > div > .positioning_and_promise > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#brand_dna_section > .container > div > .mission_and_vision > div > h3,
#brand_dna_section > .container > div > .positioning_and_promise > div > h3 {
  font-size: 24px;
}

#brand_dna_section > .container > div > .mission_and_vision > div > p,
#brand_dna_section > .container > div > .positioning_and_promise > div > p {
  line-height: 150%;
  font-size: 16px;
}

#brand_dna_section > .container > div > .values > h3,
#brand_dna_section > .container > div > .personality > h3,
#brand_dna_section > .container > div > .key_messaging_pillars > h3 {
  font-size: 24px;
}

#brand_dna_section > .container > div > .values > div,
#brand_dna_section > .container > div > .personality > div,
#brand_dna_section > .container > div > .key_messaging_pillars > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#brand_dna_section > .container > div > .values > div > div,
#brand_dna_section > .container > div > .personality > div > div,
#brand_dna_section > .container > div > .key_messaging_pillars > div > div {
  padding: 14px;
  border: 1px solid #595959;
  border-radius: 8px;
}

#brand_dna_section > .container > div > .values > div > div > p,
#brand_dna_section > .container > div > .personality > div > div > p,
#brand_dna_section > .container > div > .key_messaging_pillars > div > div > p {
  line-height: 140%;
  color: #AAA;
}

#brand_dna_section > .container > div > .values > div > div > p > span,
#brand_dna_section > .container > div > .personality > div > div > p > span,
#brand_dna_section > .container > div > .key_messaging_pillars > div > div > p > span {
  color: #FFF;
  font-weight: 600;
}

#brand_dna_section > .container > div > .typography > h3 {
  color: #FFF;
  font-size: 24px;
}

#brand_dna_section > .container > div > .typography > div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#brand_dna_section > .container > div > .typography > div > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#brand_dna_section > .container > div > .typography > div > div > h4 {
  color: #00A8E8;
  font-size: 20px;
  font-weight: 500;
}

#brand_dna_section > .container > div > .typography > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#brand_dna_section > .container > div > .typography > div > div > div > img {
  width: fit-content;
  height: 80px;
}

#brand_dna_section > .container > div > .typography > div > div > div > p {
  width: 100%;
  line-height: 160%;
  letter-spacing: 0.64px;
}

#brand_dna_section > .container > div > .colors {
  padding-bottom: 32px;
}

#brand_dna_section > .container > div > .colors > h3 {
  color: #FFF;
  font-size: 24px;
}

#brand_dna_section > .container > div > .colors > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#brand_dna_section > .container > div > .colors > div > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#brand_dna_section > .container > div > .colors > div > div > h4 {
  color: #00A8E8;
}

#brand_dna_section > .container > div > .colors > div > .primary_colors > div,
#brand_dna_section > .container > div > .colors > div > .secondary_colors > div,
#brand_dna_section > .container > div > .colors > div > .secondary_colors > div > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#brand_dna_section > .container > div > .colors > div > .primary_colors > div > div,
#brand_dna_section > .container > div > .colors > div > .secondary_colors > div > div > div {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  border: 1px solid #595959;
  border-radius: 8px;
}

#brand_dna_section > .container > div > .colors > div > .secondary_colors > div > div:last-child > div:last-child {
  border: none !important;
}

#brand_dna_section > .container > div > .colors > div > .primary_colors > div > div > .palette,
#brand_dna_section > .container > div > .colors > div > .secondary_colors > div > div > div > .palette {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  background-color: #0D1B2A;
}

#brand_dna_section > .container > div > .colors > div > .primary_colors > div > div:last-child > .palette {
  background-color: #00A8E8;
}

#brand_dna_section > .container > div > .colors > div > .secondary_colors > div > div > div:nth-child(1) > .palette {
  background-color: #FF6B6B;
}

#brand_dna_section > .container > div > .colors > div > .secondary_colors > div > div > div:nth-child(2) > .palette {
  background-color: #FFF;
}

#brand_dna_section > .container > div > .colors > div > .secondary_colors > div > div:last-child > div:nth-child(1) > .palette {
  background-color: #E9ECEF;
}

#brand_dna_section > .container > div > .colors > div > .primary_colors > div > div > div:last-child,
#brand_dna_section > .container > div > .colors > div > .secondary_colors > div > div > div > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#brand_dna_section > .container > div > .colors > div > div > div > div .name {
  font-size: 16px;
}

#brand_dna_section > .container > div > .colors > div > div > div > div > div .hex_code {
  font-size: 14px;
}

/* Hero Section Content Alignment Rule Section */

#adwai_hero_section_content_alignment_rule_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#adwai_hero_section_content_alignment_rule_section > .container > h2 {
  text-align: center;
  font-family: var(--sf-pro-display-bold);
}

#adwai_hero_section_content_alignment_rule_section > .container > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#adwai_hero_section_content_alignment_rule_section > .container > div > p {
  text-align: center;
}

#adwai_hero_section_content_alignment_rule_section > .container > div > p > span {
  font-weight: 600;
}

/* Landing Page Section */

#landing_page_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#landing_page_section > .container > h2 {
  text-align: center;
  font-family: var(--sf-pro-display-bold);
}

#landing_page_section > .container > div {
  display: flex;
  flex-direction: column;
}

#landing_page_section > .container > div > img {
  margin-top: -1px;
}

/* Buy Tickets Page Section */

#buy_tickets_page_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#buy_tickets_page_section > .container > h2 {
  text-align: center;
  font-family: var(--sf-pro-display-bold);
}

#buy_tickets_page_section > .container > div {
  display: flex;
  flex-direction: column;
}

#buy_tickets_page_section > .container > div > img {
  margin-top: -1px;
}

/* Checkout Page Section */

#checkout_page_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#checkout_page_section > .container > h2 {
  text-align: center;
  font-family: var(--sf-pro-display-bold);
}

#checkout_page_section > .container > div {
  display: flex;
  flex-direction: column;
}

#checkout_page_section > .container > div > img {
  margin-top: -1px;
}

/* Buy VIP Ticket / Checkout Page Section */

#buy_vip_ticket_page_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#buy_vip_ticket_page_section > .container > h2 {
  text-align: center;
  font-family: var(--sf-pro-display-bold);
}

#buy_vip_ticket_page_section > .container > div {
  display: flex;
  flex-direction: column;
}

#buy_vip_ticket_page_section > .container > div > img {
  margin-top: -1px;
}

/* Speakers Page Section */

#speakers_page_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#speakers_page_section > .container > h2 {
  text-align: center;
  font-family: var(--sf-pro-display-bold);
}

#speakers_page_section > .container > div {
  display: flex;
  flex-direction: column;
}

#speakers_page_section > .container > div > img {
  margin-top: -1px;
}

/* FAQs Page Section */

#faqs_page_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#faqs_page_section > .container > h2 {
  text-align: center;
  font-family: var(--sf-pro-display-bold);
}

#faqs_page_section > .container > div {
  display: flex;
  flex-direction: column;
}

#faqs_page_section > .container > div > img {
  margin-top: -1px;
}

/* 404 Page Not Found Section */

#page_not_found_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#page_not_found_section > .container > h2 {
  text-align: center;
  font-family: var(--sf-pro-display-bold);
}

#page_not_found_section > .container > div {
  display: flex;
  flex-direction: column;
}

#page_not_found_section > .container > div > img {
  margin-top: -1px;
}

/* Conclusion */

#conclusion > .container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#conclusion > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#conclusion > .container > .header > * {
  text-align: center;
}

#conclusion > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#conclusion > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

#conclusion > .container > .txt_and_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#conclusion > .container > .btn > .suffix {
  transition: all 250ms ease;
}

#conclusion > .container > .btn:hover > .suffix {
  transform: translateX(2px);
}

/* Screen Width: 768px */

@media only screen and (min-width: 768px) {
  /* Hero */

  #hero > .container {
    gap: 64px;
    padding: 80px 24px;
  }

  #hero .header {
    gap: 24px;
    width: 600px;
  }
  
  #hero .header > h1 {
    font-size: 32px;
  }
  
  #hero .header p {
    line-height: 20px;
    font-size: 16px;
  }
  
  #hero img {
    width: 650px;
  }

  /* About */

  #about > .container {
    gap: 80px;
    padding: 100px 64px;
  }

  #about > .container > .details {
    flex-direction: row;
    justify-content: space-between;
  }

  #about > .container > .details > div > div {
    gap: 16px;
  }

  #about > .container > .details > div > div > div {
    gap: 8px;
  }

  #about > .container > .details p {
    font-size: 16px;
  }

  #about > .container > .details > p {
    width: 350px;
    line-height: 22px;
  }

  /* Brand DNA Section */

  #brand_dna_section > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #brand_dna_section > .container > h2 {
    width: 450px;
    font-size: 32px;
  }

  #brand_dna_section > .container > div > div {
    gap: 24px;
    padding: 40px 32px;
  }
  
  #brand_dna_section > .container > div > .mission_and_vision {
    gap: 48px;
    padding-top: 64px;
  }

  #brand_dna_section > .container > div > .mission_and_vision > div {
    gap: 20px;
  }

  #brand_dna_section > .container > div > .positioning_and_promise {
    gap: 40px;
  }

  #brand_dna_section > .container > div > .positioning_and_promise > div {
    gap: 24px;
  }

  #brand_dna_section > .container > div > .mission_and_vision > div > h3,
  #brand_dna_section > .container > div > .positioning_and_promise > div > h3 {
    font-size: 28px;
  }

  #brand_dna_section > .container > div > .mission_and_vision > div > p,
  #brand_dna_section > .container > div > .positioning_and_promise > div > p {
    font-size: 20px;
  }

  #brand_dna_section > .container > div > .values > h3,
  #brand_dna_section > .container > div > .personality > h3,
  #brand_dna_section > .container > div > .key_messaging_pillars > h3 {
    font-size: 28px;
  }

  #brand_dna_section > .container > div > .values > div,
  #brand_dna_section > .container > div > .personality > div,
  #brand_dna_section > .container > div > .key_messaging_pillars > div {
    gap: 20px;
  }

  #brand_dna_section > .container > div > .values > div > div,
  #brand_dna_section > .container > div > .personality > div > div,
  #brand_dna_section > .container > div > .key_messaging_pillars > div > div {
    padding: 24px;
  }

  #brand_dna_section > .container > div > .values > div > div > p,
  #brand_dna_section > .container > div > .personality > div,
  #brand_dna_section > .container > div > .key_messaging_pillars > div > div > p {
    font-size: 20px;
  }

  #brand_dna_section > .container > div > .typography {
    gap: 48px;
  }

  #brand_dna_section > .container > div > .typography > h3 {
    font-size: 28px;
  }

  #brand_dna_section > .container > div > .typography > div > div {
    gap: 32px;
  }

  #brand_dna_section > .container > div > .typography > div > div > div {
    flex-direction: row;
    gap: 48px;
  }

  #brand_dna_section > .container > div > .typography > div > div > div > img {
    height: 100px;
  }

  #brand_dna_section > .container > div > .typography > div > div > div > p {
    font-size: 18px;
  }

  #brand_dna_section > .container > div > .colors {
    padding-bottom: 64px;
  }

  #brand_dna_section > .container > div > .colors > h3 {
    font-size: 28px;
  }

  #brand_dna_section > .container > div > .colors > div {
    gap: 40px;
  }

  #brand_dna_section > .container > div > .colors > div > div {
    gap: 32px;
  }

  #brand_dna_section > .container > div > .colors > div > .primary_colors > div > div,
  #brand_dna_section > .container > div > .colors > div > .secondary_colors > div > div > div {
    gap: 20px;
  }

  #brand_dna_section > .container > div > .colors > div > .primary_colors > div > div > .palette,
  #brand_dna_section > .container > div > .colors > div > .secondary_colors > div > div > div > .palette {
    width: 64px;
    height: 64px;
  }

  #brand_dna_section > .container > div > .colors > div > .primary_colors > div > div > div:last-child,
  #brand_dna_section > .container > div > .colors > div > .secondary_colors > div > div > div > div:last-child {
    gap: 8px;
  }

  #brand_dna_section > .container > div > .colors > div > div > div > div .name {
    font-size: 20px;
  }

  #brand_dna_section > .container > div > .colors > div > div > div > div > div .hex_code {
    font-size: 16px;
  }

  /* Hero Section Content Alignment Rule Section */

  #adwai_hero_section_content_alignment_rule_section > .container {
    padding: 100px 64px;
    gap: 64px;
  }

  #adwai_hero_section_content_alignment_rule_section > .container > h2 {
    width: 450px;
    font-size: 32px;
  }

  #adwai_hero_section_content_alignment_rule_section > .container > div {
    align-items: center;
  }

  #adwai_hero_section_content_alignment_rule_section > .container > div > p {
    width: 500px;
    text-align: center;
  }

  /* Landing Page Section */
  /* Buy Tickets Page Section */
  /* Checkout Page Section */
  /* Buy VIP Ticket / Checkout Page Section */
  /* Speakers Page Section */
  /* FAQs Page Section */
  /* 404 Page Not Found Section */

  #landing_page_section > .container,
  #buy_tickets_page_section > .container,
  #checkout_page_section > .container,
  #buy_vip_ticket_page_section > .container,
  #speakers_page_section > .container,
  #faqs_page_section > .container,
  #page_not_found_section > .container {
    padding: 100px 64px;
    gap: 64px;
  }

  #landing_page_section > .container > h2,
  #buy_tickets_page_section > .container > h2,
  #checkout_page_section > .container > h2,
  #buy_vip_ticket_page_section > .container > h2,
  #speakers_page_section > .container > h2,
  #faqs_page_section > .container > h2,
  #page_not_found_section > .container > h2 {
    width: 450px;
    font-size: 32px;
  }
  
  /* Conclusion */

  #conclusion > .container {
    gap: 64px;
    padding: 64px;
  }

  #conclusion > .container > .header {
    width: 450px;
  }

  #conclusion > .container > .header > h2 {
    font-size: 32px;
  }

  #conclusion > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }

  #conclusion > .container > .txt_and_image > img {
    width: 500px;
  }
}

/* Screen Width: 900px */

@media only screen and (min-width: 900px) {
  /* About */

  #about > .container > .details {
    justify-content: center;
    gap: 120px;
  }
}

/* Screen Width: 1280px */

@media only screen and (min-width: 1280px) {
  /* Hero */

  #hero > .container {
    gap: 80px;
  }

  #hero img {
    width: 850px;
  }

  /* About */

  #about > .container {
    padding: 120px 200px;
  }

  #about > .container > .details {
    padding: 0 96px;
  }

  #about > .container > .details > div > div {
    width: 250px;
  }

  #about > .container > .details > p {
    width: 400px;
  }

  /* Brand DNA Section */

  #brand_dna_section > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #brand_dna_section > .container > .header > h2 {
    width: 500px;
    font-size: 40px;
  }

  #brand_dna_section > .container > div > div {
    width: 872px;
  }

  #brand_dna_section > .container > div > div {
    width: 100%;
    gap: 32px;
    padding: 50px 64px;
  }
  
  #brand_dna_section > .container > div > .mission_and_vision {
    gap: 48px;
    padding-top: 80px;
  }

  #brand_dna_section > .container > div > .positioning_and_promise {
    gap: 64px;
  }

  #brand_dna_section > .container > div > .mission_and_vision > div > h3,
  #brand_dna_section > .container > div > .positioning_and_promise > div > h3 {
    font-size: 32px;
  }

  #brand_dna_section > .container > div > .values > h3,
  #brand_dna_section > .container > div > .personality > h3,
  #brand_dna_section > .container > div > .key_messaging_pillars > h3 {
    font-size: 32px;
  }

  #brand_dna_section > .container > div > .values > div,
  #brand_dna_section > .container > div > .personality > div,
  #brand_dna_section > .container > div > .key_messaging_pillars > div {
    gap: 32px;
  }

  #brand_dna_section > .container > div > .key_messaging_pillars > div {
    flex-direction: row;
  }

  #brand_dna_section > .container > div > .key_messaging_pillars > div > div {
    width: 33.33%;
  }

  #brand_dna_section > .container > div > .typography {
    gap: 64px;
  }

  #brand_dna_section > .container > div > .typography > h3 {
    font-size: 32px;
  }

  #brand_dna_section > .container > div > .typography > div {
    gap: 64px;
  }

  #brand_dna_section > .container > div > .typography > div > div {
    gap: 40px;
  }

  #brand_dna_section > .container > div > .typography > div > div > div {
    gap: 80px;
  }

  #brand_dna_section > .container > div > .typography > div > div > div > img {
    height: 150px;
  }

  #brand_dna_section > .container > div > .typography > div > div > div > p {
    letter-spacing: 2.88px;
    font-size: 24px;
  }

  #brand_dna_section > .container > div > .colors {
    padding-bottom: 80px;
  }

  #brand_dna_section > .container > div > .colors > h3 {
    font-size: 32px;
  }

  #brand_dna_section > .container > div > .colors > div {
    gap: 40px;
  }

  #brand_dna_section > .container > div > .colors > div > div {
    gap: 32px;
  }

  #brand_dna_section > .container > div > .colors > div > div > h4 {
    font-size: 20px;
  }

  #brand_dna_section > .container > div > .colors > div > .primary_colors > div > div,
  #brand_dna_section > .container > div > .colors > div > .secondary_colors > div > div > div {
    gap: 20px;
  }

  #brand_dna_section > .container > div > .colors > div > .primary_colors > div > div > .palette,
  #brand_dna_section > .container > div > .colors > div > .secondary_colors > div > div > div > .palette {
    width: 64px;
    height: 64px;
  }

  /* Hero Section Content Alignment Rule Section */
  /* Landing Page Section */
  /* Buy Tickets Page Section */
  /* Checkout Page Section */
  /* Buy VIP Ticket / Checkout Page Section */
  /* Speakers Page Section */
  /* FAQs Page Section */
  /* 404 Page Not Found Section */

  #adwai_hero_section_content_alignment_rule_section > .container,
  #landing_page_section > .container,
  #buy_tickets_page_section > .container,
  #checkout_page_section > .container,
  #buy_vip_ticket_page_section > .container,
  #speakers_page_section > .container,
  #faqs_page_section > .container,
  #page_not_found_section > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #adwai_hero_section_content_alignment_rule_section > .container > div {
    gap: 40px;
  }

  #adwai_hero_section_content_alignment_rule_section > .container > h2,
  #landing_page_section > .container > h2,
  #buy_tickets_page_section > .container > h2,
  #checkout_page_section > .container > h2,
  #buy_vip_ticket_page_section > .container > h2,
  #speakers_page_section > .container > h2,
  #faqs_page_section > .container > h2,
  #page_not_found_section > .container > h2 {
    width: fit-content;
    font-size: 40px;
  }

  #adwai_hero_section_content_alignment_rule_section > .container > div > img,
  #landing_page_section > .container > div > img,
  #buy_tickets_page_section > .container > div > img,
  #checkout_page_section > .container > div > img,
  #buy_vip_ticket_page_section > .container > div > img,
  #speakers_page_section > .container > div > img,
  #faqs_page_section > .container > div > img,
  #page_not_found_section > .container > div > img {
    width: 1000px;
  }

  /* Conclusion */

  #conclusion > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #conclusion > .container > .header {
    width: 500px;
  }

  #conclusion > .container > .header > h2 {
    font-size: 40px;
  }
}

/* Screen Width: 1440px */

@media only screen and (min-width: 1440px) {
  /* Hero */

  #hero > .container {
    gap: 64px;
  }

  #hero .header {
    width: 650px;
  }
  
  #hero .header > h1 {
    font-size: 40px;
  }
  
  #hero .header p {
    line-height: 22px;
    font-size: 18px;
  }

  /* About */

  #about > .container {
    padding: 120px 200px;
  }

  #about > .container > .details {
    padding: 0 150px;
  }

  /* Brand DNA Section */

  #brand_dna_section > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  /* Hero Section Content Alignment Rule Section */
  /* Landing Page Section */
  /* Buy Tickets Page Section */
  /* Checkout Page Section */
  /* Buy VIP Ticket / Checkout Page Section */
  /* Speakers Page Section */
  /* FAQs Page Section */
  /* 404 Page Not Found Section */

  #adwai_hero_section_content_alignment_rule_section > .container,
  #landing_page_section > .container,
  #buy_tickets_page_section > .container,
  #checkout_page_section > .container,
  #buy_vip_ticket_page_section > .container,
  #speakers_page_section > .container,
  #faqs_page_section > .container,
  #page_not_found_section > .container {
    gap: 120px;
    padding: 120px 200px;
  }
  
  /* Conclusion */

  #conclusion > .container {
    padding: 120px 200px;
  }
}

/* Screen Width: 1745px */

@media only screen and (min-width: 1745px) {
  /* About */

  #about > .container > div {
    padding: 0 150px;
  }

  /* Brand DNA Section */

  #brand_dna_section > .container {
    padding: 120px 400px;
  }
}

/* Screen Width: 1872px */

@media only screen and (min-width: 1872px) {
  /* About */

  #about > .container {
    padding: 120px 400px;
  }
}

/* Screen Width: 1920px */

@media only screen and (min-width: 1920px) {
  /* About */

  #about > .container {
    padding: 120px 450px;
  }
}