/* Navigation Bar */

header nav > a > .logo {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%);
}

header nav > ul > li > a,
header nav > ul > li > .link {
  color: var(--primary-color);
  text-decoration: none;
}

header nav > ul > li > button > .prefix .icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%);
}

/* Hero */

#hero > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 64px 24px;
}

#hero .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 350px;
}

#hero .header > h1,
#hero .header > p {
  text-align: center;
}

#hero .header > h1 {
  /* font-family: var(--sf-pro-display-bold); */
  font-size: 24px;
}

#hero .header p {
  line-height: 18px;
  letter-spacing: -0.4px;
  /* font-family: var(--sf-pro-display-medium); */
  font-size: 14px;
  font-weight: 500;
}

#hero img {
  width: 350px;
}

/* About */

#about {
  background-color: #F2F2F2;
}

#about > .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 48px 24px;
}

#about > .container > .details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#about > .container > .details > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#about > .container > .details > div > div {
  display: flex;
  gap: 12px;
}

#about > .container > .details p {
  line-height: 20px;
  font-size: 14px;
}

#about > .container > .details > div > div > p {
  /* font-family: var(--sf-pro-display-bold); */
  font-weight: 700;
}

#about > .container > .details > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#about > .container > .details > p {
  line-height: 20px;
}

/* Hero Section Content Alignment Rule Section */

#adwai_hero_section_content_alignment_rule_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#adwai_hero_section_content_alignment_rule_section > .container > h2 {
  text-align: center;
  /* font-family: var(--sf-pro-display-bold); */
}

#adwai_hero_section_content_alignment_rule_section > .container > div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#adwai_hero_section_content_alignment_rule_section > .container > div > p {
  text-align: center;
}

#adwai_hero_section_content_alignment_rule_section > .container > div > p > span {
  font-weight: 600;
}

/* Landing Page Section */

#landing_page_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#landing_page_section > .container > h2 {
  text-align: center;
  /* font-family: var(--sf-pro-display-bold); */
}

#landing_page_section > .container > div {
  display: flex;
  flex-direction: column;
}

#landing_page_section > .container > div > img {
  margin-top: -1px;
}

/* Buy Tickets Page Section */

#buy_tickets_page_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#buy_tickets_page_section > .container > h2 {
  text-align: center;
  /* font-family: var(--sf-pro-display-bold); */
}

#buy_tickets_page_section > .container > div {
  display: flex;
  flex-direction: column;
}

#buy_tickets_page_section > .container > div > img {
  margin-top: -1px;
}

/* Checkout Page Section */

#checkout_page_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#checkout_page_section > .container > h2 {
  text-align: center;
  /* font-family: var(--sf-pro-display-bold); */
}

#checkout_page_section > .container > div {
  display: flex;
  flex-direction: column;
}

#checkout_page_section > .container > div > img {
  margin-top: -1px;
}

/* Buy VIP Ticket / Checkout Page Section */

#buy_vip_ticket_page_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#buy_vip_ticket_page_section > .container > h2 {
  text-align: center;
  /* font-family: var(--sf-pro-display-bold); */
}

#buy_vip_ticket_page_section > .container > div {
  display: flex;
  flex-direction: column;
}

#buy_vip_ticket_page_section > .container > div > img {
  margin-top: -1px;
}

/* Speakers Page Section */

#speakers_page_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#speakers_page_section > .container > h2 {
  text-align: center;
  /* font-family: var(--sf-pro-display-bold); */
}

#speakers_page_section > .container > div {
  display: flex;
  flex-direction: column;
}

#speakers_page_section > .container > div > img {
  margin-top: -1px;
}

/* FAQs Page Section */

#faqs_page_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#faqs_page_section > .container > h2 {
  text-align: center;
  /* font-family: var(--sf-pro-display-bold); */
}

#faqs_page_section > .container > div {
  display: flex;
  flex-direction: column;
}

#faqs_page_section > .container > div > img {
  margin-top: -1px;
}

/* Mission & Vision */

#mission_and_vision > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
  background-color: var(--primary-color);
}

#mission_and_vision > .container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#mission_and_vision > .container > div > h2,
#mission_and_vision > .container > div > p {
  color: var(--secondary-color);
}

#mission_and_vision > .container > div > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

/* 404 Page Not Found Section */

#page_not_found_section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px 64px;
}

#page_not_found_section > .container > h2 {
  text-align: center;
  /* font-family: var(--sf-pro-display-bold); */
}

#page_not_found_section > .container > div {
  display: flex;
  flex-direction: column;
}

#page_not_found_section > .container > div > img {
  margin-top: -1px;
}

/* Typography */

#typography > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#typography > .container > .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

#typography > .container > .header > * {
  text-align: center;
}

#typography > .container > .header > h2 {
  /* font-family: var(--sf-pro-display-bold); */
}

#typography > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

#typography > .container > .stacks {
  display: grid;
  grid-template-areas:
    'stack_1 stack_1 stack_1 stack_1'
    'stack_2 stack_2 stack_2 stack_2'
    'stack_3 stack_3 stack_3 stack_3';
  gap: 16px;
  width: 100%;
}

#typography > .container > .stacks > .stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
}

#typography > .container > .stacks > .stack_1,
#typography > .container > .stacks > .stack_2 {
  gap: 24px;
  /* width: 320px; */
  height: 200px;
}

#typography > .container > .stacks > .stack_1 > p,
#typography > .container > .stacks > .stack_2 > p,
#typography > .container > .stacks > .stack_1 > div,
#typography > .container > .stacks > .stack_2 > div {
  width: 290px;
}

#typography > .container > .stacks > .stack_1 > p,
#typography > .container > .stacks > .stack_2 > p {
  font-weight: 700;
}

#typography > .container > .stacks > .stack_1 > div,
#typography > .container > .stacks > .stack_2 > div {
  display: flex;
  align-items: center;
  gap: 16px;
}

#typography > .container > .stacks > .stack_1 > div > p,
#typography > .container > .stacks > .stack_2 > div > p {
  /* font-family: var(--sf-pro-display-bold); */
  font-size: 24px;
}

#typography > .container > .stacks > .stack_1 > div > p {
  font-family: 'Roboto Mono';
  font-weight: 700;
}

#typography > .container > .stacks > .stack_2 > div > p {
  font-family: 'Inter';
  font-weight: 700;
}

#typography > .container > .stacks > .stack_1 > div > div,
#typography > .container > .stacks > .stack_2 > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#typography > .container > .stacks > .stack_1 > div > div > p,
#typography > .container > .stacks > .stack_2 > div > div > p {
  /* font-family: var(--sf-pro-display-bold); */
  font-size: 14px;
  font-weight: 700;
}

#typography > .container > .stacks > .stack_1 > div > div > p {
  font-family: 'Roboto Mono';
}

#typography > .container > .stacks > .stack_2 > div > div > p {
  font-family: 'Inter';
}

#typography > .container > .stacks > .stack_1 {
  grid-area: stack_1;
}

#typography > .container > .stacks > .stack_1 > p {
  font-family: 'Roboto Mono';
  font-size: 24px;
}

#typography > .container > .stacks > .stack_2 {
  grid-area: stack_2;
}

#typography > .container > .stacks > .stack_2 > p {
  font-family: 'Inter';
  font-size: 24px;
}

#typography > .container > .stacks > .stack_3 {
  position: relative;
  grid-area: stack_3;
  overflow: hidden;
  height: 508px;
  padding-top: 48px;
}

#typography > .container > .stacks > .stack_3 > img {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: fit-content;
  height: 450px;
}

/* Hues */

#hues > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#hues > .container > h2 {
  /* font-family: var(--sf-pro-display-bold); */
}

#hues > .container > .pallette > div {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  height: 80px;
}

#hues > .container > .pallette {
  width: 100%;
  box-shadow: -10px 0px 20px 0px rgba(187, 187, 187, 0.25);
}

#hues > .container > .pallette > div:first-child {
  background-color: #0D1B2A;
}

#hues > .container > .pallette > div:nth-child(2) {
  background-color: #00A8E8;
}

#hues > .container > .pallette > div:nth-child(3) {
  background-color: #FF6B6B;
}

#hues > .container > .pallette > div:nth-child(4) {
  background-color: #FFF;
}

#hues > .container > .pallette > div:nth-child(5) {
  background-color: #E6EBF0;
}

#hues > .container > .pallette > div > p {
  /* font-family: var(--sf-pro-display-medium); */
  font-size: 12px;
}

#hues > .container > .pallette > div:nth-child(1) > p,
#hues > .container > .pallette > div:nth-child(2) > p,
#hues > .container > .pallette > div:nth-child(3) > p {
  color: var(--secondary-color);
}

/* Conclusion */

#conclusion > .container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#conclusion > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#conclusion > .container > .header > * {
  text-align: center;
}

#conclusion > .container > .header > h2 {
  /* font-family: var(--sf-pro-display-bold); */
}

#conclusion > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

#conclusion > .container > .txt_and_image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

#conclusion > .container > .btn > .suffix {
  transition: all 250ms ease;
}

#conclusion > .container > .btn:hover > .suffix {
  transform: translateX(2px);
}

/* Screen Width: 768px */

@media only screen and (min-width: 768px) {
  /* Hero */

  #hero > .container {
    gap: 64px;
    padding: 80px 24px;
  }

  #hero .header {
    gap: 24px;
    width: 600px;
  }
  
  #hero .header > h1 {
    font-size: 32px;
  }
  
  #hero .header p {
    line-height: 20px;
    font-size: 16px;
  }
  
  #hero img {
    width: 650px;
  }

  /* About */

  #about > .container {
    gap: 80px;
    padding: 100px 64px;
  }

  #about > .container > .details {
    flex-direction: row;
    justify-content: space-between;
  }

  #about > .container > .details > div > div {
    gap: 16px;
  }

  #about > .container > .details > div > div > div {
    gap: 8px;
  }

  #about > .container > .details p {
    font-size: 16px;
  }

  #about > .container > .details > p {
    width: 350px;
    line-height: 22px;
  }

  /* Hero Section Content Alignment Rule Section */

  #adwai_hero_section_content_alignment_rule_section > .container {
    padding: 100px 64px;
    gap: 64px;
  }

  #adwai_hero_section_content_alignment_rule_section > .container > h2 {
    width: 450px;
    font-size: 32px;
  }

  #adwai_hero_section_content_alignment_rule_section > .container > div {
    align-items: center;
  }

  #adwai_hero_section_content_alignment_rule_section > .container > div > p {
    width: 500px;
    text-align: center;
  }

  /* Landing Page Section */
  /* Buy Tickets Page Section */
  /* Checkout Page Section */
  /* Buy VIP Ticket / Checkout Page Section */
  /* Speakers Page Section */
  /* FAQs Page Section */
  /* 404 Page Not Found Section */

  #landing_page_section > .container,
  #buy_tickets_page_section > .container,
  #checkout_page_section > .container,
  #buy_vip_ticket_page_section > .container,
  #speakers_page_section > .container,
  #faqs_page_section > .container,
  #page_not_found_section > .container {
    padding: 100px 64px;
    gap: 64px;
  }

  #landing_page_section > .container > h2,
  #buy_tickets_page_section > .container > h2,
  #checkout_page_section > .container > h2,
  #buy_vip_ticket_page_section > .container > h2,
  #speakers_page_section > .container > h2,
  #faqs_page_section > .container > h2,
  #page_not_found_section > .container > h2 {
    width: 450px;
    font-size: 32px;
  }
  
  /* 404 Page Not Found Section */

  #page_not_found_section > .container {
    padding: 100px 64px 80px;
  }

  /* Mission & Vision */

  #mission_and_vision > .container {
    gap: 64px;
    padding: 64px;
  }

  #mission_and_vision > .container > div {
    width: 450px;
  }

  #mission_and_vision > .container > div > h2 {
    font-size: 32px;
  }

  #mission_and_vision > .container > div > p {
    line-height: 22px;
    font-size: 16px;
  }

  /* Typography */

  #typography > .container {
    gap: 64px;
    padding: 64px;
  }

  #typography > .container > .header > h2 {
    font-size: 32px;
  }

  #typography > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }

  #typography > .container > .stacks {
    place-items: center;
  }

  #typography > .container > .stacks > .stack {
    width: 656px;
  }

  #typography > .container > .stacks > .stack_1,
  #typography > .container > .stacks > .stack_2 {
    gap: 40px;
    height: 284px;
  }

  #typography > .container > .stacks > .stack_1 > p,
  #typography > .container > .stacks > .stack_2 > p,
  #typography > .container > .stacks > .stack_1 > div,
  #typography > .container > .stacks > .stack_2 > div {
    width: 450px;
  }
  
  #typography > .container > .stacks > .stack_1 > p,
  #typography > .container > .stacks > .stack_2 > p {
    font-size: 40px;
  }
  
  #typography > .container > .stacks > .stack_1 > div,
  #typography > .container > .stacks > .stack_2 > div {
    gap: 24px;
  }
  
  #typography > .container > .stacks > .stack_1 > div > p,
  #typography > .container > .stacks > .stack_2 > div > p {
    font-size: 40px;
  }
  
  #typography > .container > .stacks > .stack_1 > div > div > p,
  #typography > .container > .stacks > .stack_2 > div > div > p {
    font-size: 20px;
  }

  #typography > .container > .stacks > .stack_3 > img {
    left: 40px;
  }

  /* Hues */

  #hues > .container {
    gap: 64px;
    padding: 64px 64px;
  }

  #hues > .container > h2 {
    font-size: 32px;
  }

  #hues > .container > .pallette {
    display: flex;
    flex-direction: row;
  }

  #hues > .container > .pallette > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 500px;
  }
  
  /* Conclusion */

  #conclusion > .container {
    gap: 64px;
    padding: 64px;
  }

  #conclusion > .container > .header {
    width: 450px;
  }

  #conclusion > .container > .header > h2 {
    font-size: 32px;
  }

  #conclusion > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }

  #conclusion > .container > .txt_and_image > img {
    width: 500px;
  }
}

/* Screen Width: 900px */

@media only screen and (min-width: 900px) {
  /* About */

  #about > .container > .details {
    justify-content: center;
    gap: 120px;
  }
}

/* Screen Width: 1280px */

@media only screen and (min-width: 1280px) {
  /* Hero */

  #hero > .container {
    gap: 80px;
  }

  #hero img {
    width: 850px;
  }

  /* About */

  #about > .container {
    padding: 120px 200px;
  }

  #about > .container > .details {
    padding: 0 96px;
  }

  #about > .container > .details > div > div {
    width: 250px;
  }

  #about > .container > .details > p {
    width: 400px;
  }

  /* Hero Section Content Alignment Rule Section */
  /* Landing Page Section */
  /* Buy Tickets Page Section */
  /* Checkout Page Section */
  /* Buy VIP Ticket / Checkout Page Section */
  /* Speakers Page Section */
  /* FAQs Page Section */
  /* 404 Page Not Found Section */

  #adwai_hero_section_content_alignment_rule_section > .container,
  #landing_page_section > .container,
  #buy_tickets_page_section > .container,
  #checkout_page_section > .container,
  #buy_vip_ticket_page_section > .container,
  #speakers_page_section > .container,
  #faqs_page_section > .container,
  #page_not_found_section > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #adwai_hero_section_content_alignment_rule_section > .container > div {
    gap: 40px;
  }

  #adwai_hero_section_content_alignment_rule_section > .container > h2,
  #landing_page_section > .container > h2,
  #buy_tickets_page_section > .container > h2,
  #checkout_page_section > .container > h2,
  #buy_vip_ticket_page_section > .container > h2,
  #speakers_page_section > .container > h2,
  #faqs_page_section > .container > h2,
  #page_not_found_section > .container > h2 {
    width: fit-content;
    font-size: 40px;
  }

  #adwai_hero_section_content_alignment_rule_section > .container > div > img,
  #landing_page_section > .container > div > img,
  #buy_tickets_page_section > .container > div > img,
  #checkout_page_section > .container > div > img,
  #buy_vip_ticket_page_section > .container > div > img,
  #speakers_page_section > .container > div > img,
  #faqs_page_section > .container > div > img,
  #page_not_found_section > .container > div > img {
    width: 1000px;
  }

  
  /* 404 Page Not Found Section */

  #page_not_found_section > .container {
    padding: 80px 200px 120px;
  }

  /* Mission & Vision */

  #mission_and_vision > .container {
    gap: 80px;
    padding: 80px;
  }

  #mission_and_vision > .container > div {
    width: 500px;
  }
  
  #mission_and_vision > .container > div > h2 {
    font-size: 40px;
  }

  /* Typography */

  #typography > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #typography > .container > .header {
    width: 500px;
  }

  #typography > .container > .header > h2 {
    font-size: 40px;
  }

  /* Hues */

  #hues > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #hues > .container > h2 {
    font-size: 40px;
  }

  /* Conclusion */

  #conclusion > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #conclusion > .container > .header {
    width: 500px;
  }

  #conclusion > .container > .header > h2 {
    font-size: 40px;
  }
}

/* Screen Width: 1440px */

@media only screen and (min-width: 1440px) {
  /* Hero */

  #hero > .container {
    gap: 64px;
  }

  #hero .header {
    width: 650px;
  }
  
  #hero .header > h1 {
    font-size: 40px;
  }
  
  #hero .header p {
    line-height: 22px;
    font-size: 18px;
  }

  /* About */

  #about > .container {
    padding: 120px 200px;
  }

  #about > .container > .details {
    padding: 0 150px;
  }

  /* Hero Section Content Alignment Rule Section */
  /* Landing Page Section */
  /* Buy Tickets Page Section */
  /* Checkout Page Section */
  /* Buy VIP Ticket / Checkout Page Section */
  /* Speakers Page Section */
  /* FAQs Page Section */
  /* 404 Page Not Found Section */

  #adwai_hero_section_content_alignment_rule_section > .container,
  #landing_page_section > .container,
  #buy_tickets_page_section > .container,
  #checkout_page_section > .container,
  #buy_vip_ticket_page_section > .container,
  #speakers_page_section > .container,
  #faqs_page_section > .container,
  #page_not_found_section > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  /* Typography */

  #typography > .container {
    gap: 120px;
    padding: 120px 200px;
  }
  
  #typography > .container > .stacks {
    grid-template-areas:
      'stack_1 stack_1 stack_3 stack_3'
      'stack_2 stack_2 stack_3 stack_3';
    gap: 24px;
    width: fit-content;
  }

  #typography > .container > .stacks > .stack_1,
  #typography > .container > .stacks > .stack_2 {
    width: 600px;
    height: 260px;
  }

  #typography > .container > .stacks > .stack_3 {
    width: 450px;
    height: 100%;
  }

  #typography > .container > .stacks > .stack_3 > img {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: fit-content;
    height: 500px;
  }

  /* Hues */

  #hues > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  #hues > .container > .pallette {
    width: 800px;
  }
  
  /* Conclusion */

  #conclusion > .container {
    padding: 120px 200px;
  }
}

/* Screen Width: 1745px */

@media only screen and (min-width: 1745px) {
  /* About */

  #about > .container > div {
    padding: 0 150px;
  }
}

/* Screen Width: 1872px */

@media only screen and (min-width: 1872px) {
  /* About */

  #about > .container {
    padding: 120px 400px;
  }
}

/* Screen Width: 1920px */

@media only screen and (min-width: 1920px) {
  /* About */

  #about > .container {
    padding: 120px 450px;
  }
}