/* Navigation Bar */

header nav > a > .logo {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%);
}

header nav > ul > li > a,
header nav > ul > li > .link {
  color: var(--primary-color);
  text-decoration: none;
}

header nav > ul > li > button > .prefix .icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%);
}

/* Hero */

#hero > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 64px 24px;
}

#hero .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 350px;
}

#hero .header > h1,
#hero .header > p {
  text-align: center;
}

#hero .header > h1 {
  font-family: var(--sf-pro-display-bold);
  font-size: 24px;
}

#hero .header p {
  line-height: 18px;
  font-family: var(--sf-pro-display-medium);
  font-size: 14px;
}

#hero img {
  width: 350px;
}

/* About */

#about {
  background-color: #F2F2F2;
}

#about > .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 48px 24px;
}

#about > .container > .details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#about > .container > .details > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#about > .container > .details > div > div {
  display: flex;
  gap: 12px;
}

#about > .container > .details p {
  line-height: 20px;
  font-size: 14px;
}

#about > .container > .details > div > div > p {
  font-family: var(--sf-pro-display-bold);
}

#about > .container > .details > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#about > .container > .details > p {
  line-height: 20px;
}

/* Logo */

#logo > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#logo > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#logo > .container > .header > * {
  text-align: center;
}

#logo > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#logo > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

#logo > .container > img {
  width: 200px;
}

/* Posters */

#posters > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#posters > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#posters > .container > .header > * {
  text-align: center;
}

#posters > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#posters > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

#posters > .container > .header > p > span {
  font-style: italic;
}

/* Typography & Colors & Colors */

#typography_and_colors > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#typography_and_colors > .container > h2 {
  font-family: var(--sf-pro-display-bold);
}

#typography_and_colors > .container > .stacks {
  display: grid;
  grid-template-areas:
    'stack_1 stack_1 stack_1 stack_1'
    'stack_2 stack_2 stack_2 stack_2'
    'stack_3 stack_3 stack_3 stack_3';
  gap: 16px;
  width: 100%;
}

#typography_and_colors > .container > .stacks > .stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
}

#typography_and_colors > .container > .stacks > .stack_1,
#typography_and_colors > .container > .stacks > .stack_2 {
  gap: 24px;
  height: 200px;
  background-color: #000;
}

#typography_and_colors > .container > .stacks > .stack_1 {
  gap: 8px;
}

#typography_and_colors > .container > .stacks > .stack_1 > p,
#typography_and_colors > .container > .stacks > .stack_2 > p,
#typography_and_colors > .container > .stacks > .stack_1 > div,
#typography_and_colors > .container > .stacks > .stack_2 > div {
  width: 290px;
}

#typography_and_colors > .container > .stacks > .stack p {
  color: #FFF;
}

#typography_and_colors > .container > .stacks > .stack_1 > p {
  font-family: var(--bebas-neue-regular) !important;
  font-size: 34px !important;
}

#typography_and_colors > .container > .stacks > .stack_2 > p {
  font-family: var(--neue-montreal-medium) !important;
}

#typography_and_colors > .container > .stacks > .stack_1 > div,
#typography_and_colors > .container > .stacks > .stack_2 > div {
  display: flex;
  align-items: center;
  gap: 16px;
}

#typography_and_colors > .container > .stacks > .stack_1 > div > p {
  font-family: var(--bebas-neue-regular) !important;
  font-size: 32px;
}

#typography_and_colors > .container > .stacks > .stack_2 > div > p {
  font-size: 24px;
  font-family: var(--neue-montreal-medium) !important;
  font-weight: 700;
}

#typography_and_colors > .container > .stacks > .stack_1 > div > div,
#typography_and_colors > .container > .stacks > .stack_2 > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#typography_and_colors > .container > .stacks > .stack_1 > div > div > p {
  font-family: var(--bebas-neue-regular) !important;
  font-size: 24px;
}

#typography_and_colors > .container > .stacks > .stack_2 > div > div > p {
  font-family: var(--neue-montreal-medium) !important;
  font-size: 13px;
  font-weight: 700;
}

#typography_and_colors > .container > .stacks > .stack_1 {
  grid-area: stack_1;
}

#typography_and_colors > .container > .stacks > .stack_1 > p {
  font-family: var(--bebas-neue-regular) !important;
  font-size: 24px;
}

#typography_and_colors > .container > .stacks > .stack_2 {
  grid-area: stack_2;
}

#typography_and_colors > .container > .stacks > .stack_2 > p {
  font-family: var(--neue-montreal-medium) !important;
  font-size: 24px;
  font-weight: 700;
}

#typography_and_colors > .container > .stacks > .stack_3 {
  position: relative;
  grid-area: stack_3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 28px;
}

#typography_and_colors > .container > .stacks > .stack_3 > .wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 75px;
}

#typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color > .palette {
  width: 64px;
  height: 64px;
  border-radius: 2px;
}

#typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color > .name_and_hex_code {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color > .name_and_hex_code > p {
  color: #1D1D1F;
  font-size: 12px;
}

#typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color > .name_and_hex_code > .name {
  font-family: var(--sf-pro-display-bold);
}

#typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color_1 > .palette {
  background: linear-gradient(103deg, rgba(255, 255, 255, 0.90) -24.42%, rgba(255, 255, 255, 0.00) 49.25%, rgba(255, 255, 255, 0.90) 122.92%), linear-gradient(90deg, #FFE889 0.1%, #FFB636 30.28%, #FFE888 64.45%, #FFB636 99.74%), #FFF;
}

#typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color_2 > .palette {
  background-color: #9E7B32;
}

#typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color_3 > .palette {
  background-color: #FFB636;
}


#typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color_4 > .palette {
  background-color: #FFE889;
}


#typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color_5 > .palette {
  background-color: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(204, 204, 204, 0.25);
}


#typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color_6 > .palette {
  background-color: #000;
}

/* Conclusion */

#conclusion > .container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#conclusion > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#conclusion > .container > .header > * {
  text-align: center;
}

#conclusion > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#conclusion > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

#conclusion > .container > .header > p > a {
  text-decoration: underline;
}

#conclusion > .container > .btn > .suffix {
  transition: all 250ms ease;
}

#conclusion > .container > .btn:hover > .suffix {
  transform: translateX(2px);
}

/* Screen Width: 768px */

@media only screen and (min-width: 768px) {
  /* Hero */

  #hero > .container {
    gap: 64px;
    padding: 80px 24px;
  }

  #hero .header {
    gap: 24px;
    width: 600px;
  }
  
  #hero .header > h1 {
    font-size: 32px;
  }
  
  #hero .header p {
    line-height: 20px;
    font-size: 16px;
  }
  
  #hero img {
    width: 650px;
  }

  /* About */

  #about > .container {
    gap: 80px;
    padding: 100px 64px;
  }

  #about > .container > .details {
    flex-direction: row;
    justify-content: space-between;
  }

  #about > .container > .details > div > div {
    gap: 16px;
  }

  #about > .container > .details > div > div > div {
    gap: 8px;
  }

  #about > .container > .details p {
    font-size: 16px;
  }

  #about > .container > .details > p {
    width: 350px;
    line-height: 22px;
  }

  /* Logo */

  #logo > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #logo > .container > .header {
    width: 450px;
  }

  #logo > .container > .header > h2 {
    font-size: 32px;
  }

  #logo > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }

  #logo > .container > img {
    width: 500px;
  }

  /* Posters */

  #posters > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #posters > .container h2 {
    font-size: 32px;
  }

  /* Typography & Colors */

  #typography_and_colors > .container {
    gap: 64px;
    padding: 64px;
  }

  #typography_and_colors > .container > h2 {
    font-size: 32px;
  }

  #typography_and_colors > .container > .stacks {
    place-items: center;
  }

  #typography_and_colors > .container > .stacks > .stack {
    width: 656px;
  }

  #typography_and_colors > .container > .stacks > .stack_1,
  #typography_and_colors > .container > .stacks > .stack_2 {
    height: 270px;
  }

  #typography_and_colors > .container > .stacks > .stack_1 > p,
  #typography_and_colors > .container > .stacks > .stack_2 > p,
  #typography_and_colors > .container > .stacks > .stack_1 > div,
  #typography_and_colors > .container > .stacks > .stack_2 > div {
    width: 450px;
  }
  
  #typography_and_colors > .container > .stacks > .stack_1 > p {
    font-size: 56px !important;
  }

  #typography_and_colors > .container > .stacks > .stack_2 > p {
    font-size: 40px;
  }
  
  #typography_and_colors > .container > .stacks > .stack_1 > div,
  #typography_and_colors > .container > .stacks > .stack_2 > div {
    gap: 24px;
  }
  
  #typography_and_colors > .container > .stacks > .stack_1 > div > p {
    font-size: 48px;
  }

  #typography_and_colors > .container > .stacks > .stack_2 > div > p {
    font-size: 40px;
  }
  
  #typography_and_colors > .container > .stacks > .stack_1 > div > div > p {
    font-size: 36px !important;
  }

  #typography_and_colors > .container > .stacks > .stack_2 > div > div > p {
    font-size: 20px;
  }

  #typography_and_colors > .container > .stacks > .stack_1 > div > div > p {
    font-size: 18px;
  }

  #typography_and_colors > .container > .stacks > .stack_3 {
    flex-direction: row;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  
  /* Conclusion */

  #conclusion > .container {
    gap: 64px;
    padding: 64px;
  }

  #conclusion > .container > .header {
    width: 450px;
  }

  #conclusion > .container > .header > h2 {
    font-size: 32px;
  }

  #conclusion > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }
}

/* Screen Width: 900px */

@media only screen and (min-width: 900px) {
  /* About */

  #about > .container > .details {
    justify-content: center;
    gap: 120px;
  }
}

/* Screen Width: 1280px */

@media only screen and (min-width: 1280px) {
  /* Hero */

  #hero > .container {
    gap: 80px;
  }

  #hero img {
    width: 850px;
  }

  /* About */

  #about > .container {
    padding: 120px 200px;
  }

  #about > .container > .details {
    padding: 0 96px;
  }

  #about > .container > .details > div > div {
    width: 250px;
  }

  #about > .container > .details > p {
    width: 400px;
  }

  /* Logo */

  #logo > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #logo > .container > .header {
    width: 500px;
  }

  #logo > .container > .header > h2 {
    font-size: 40px;
  }

  /* Posters */

  #posters > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #posters > .container > h2 {
    font-size: 40px;
  }

  #testimonials_section > div > .container > h2 {
    font-size: 40px;
  }

  /* Typography & Colors */

  #typography_and_colors > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #typography_and_colors > .container > h2 {
    font-size: 40px;
  }

  /* Conclusion */

  #conclusion > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #conclusion > .container > .header {
    width: 500px;
  }

  #conclusion > .container > .header > h2 {
    font-size: 40px;
  }
}

/* Screen Width: 1440px */

@media only screen and (min-width: 1440px) {
  /* Hero */

  #hero > .container {
    gap: 64px;
  }

  #hero .header {
    width: 650px;
  }
  
  #hero .header > h1 {
    font-size: 40px;
  }
  
  #hero .header p {
    line-height: 22px;
    font-size: 18px;
  }

  /* About */

  #about > .container {
    padding: 120px 200px;
  }

  #about > .container > .details {
    padding: 0 150px;
  }

  /* Logo */

  #logo > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  /* Posters */

  #posters > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  /* Typography & Colors */

  #typography_and_colors > .container {
    gap: 120px;
    padding: 120px 200px;
  }
  
  #typography_and_colors > .container > .stacks {
    grid-template-areas:
      'stack_1 stack_1 stack_3 stack_3'
      'stack_2 stack_2 stack_3 stack_3';
    gap: 24px;
    width: fit-content;
  }

  #typography_and_colors > .container > .stacks > .stack_1,
  #typography_and_colors > .container > .stacks > .stack_2 {
    width: 600px;
    height: 260px;
  }

  #typography_and_colors > .container > .stacks > .stack_3 {
    width: 300px;
    height: 100%;
    padding: 32px 40px;
  }

  #typography_and_colors > .container > .stacks > .stack_3,
  #typography_and_colors > .container > .stacks > .stack_3 > .wrapper {
    flex-direction: column;
    gap: 24px;
  }

  #typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: fit-content;
  }

  #typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color > .name_and_hex_code {
    gap: 4px;
  }

  #typography_and_colors > .container > .stacks > .stack_3 > .wrapper > .color > .name_and_hex_code > p {
    font-size: 14px;
  }
  
  /* Conclusion */

  #conclusion > .container {
    padding: 120px 200px;
  }
}

/* Screen Width: 1745px */

@media only screen and (min-width: 1745px) {
  /* About */

  #about > .container > div {
    padding: 0 150px;
  }

  /* Logo */

  #logo > .container {
    padding: 120px 400px;
  }

  /* Posters */

  #posters > .container {
    padding: 120px 400px;
  }
}

/* Screen Width: 1872px */

@media only screen and (min-width: 1872px) {
  /* About */

  #about > .container {
    padding: 120px 400px;
  }
}

/* Screen Width: 1920px */

@media only screen and (min-width: 1920px) {
  /* About */

  #about > .container {
    padding: 120px 450px;
  }
}