/* Navigation Bar */

header nav > a > .logo {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%);
}

header nav > ul > li > a,
header nav > ul > li > .link {
  color: var(--primary-color);
  text-decoration: none;
}

header nav > ul > li > button > .prefix .icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%);
}

/* Hero */

#hero > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 64px 24px;
}

#hero .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 350px;
}

#hero .header > h1,
#hero .header > p {
  text-align: center;
}

#hero .header > h1 {
  font-family: var(--sf-pro-display-bold);
  font-size: 24px;
}

#hero .header p {
  line-height: 18px;
  font-family: var(--sf-pro-display-medium);
  font-size: 14px;
}

#hero img {
  width: 350px;
}

/* About */

#about {
  background-color: #F2F2F2;
}

#about > .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 48px 24px;
}

#about > .container > .details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#about > .container > .details > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#about > .container > .details > div > div {
  display: flex;
  gap: 12px;
}

#about > .container > .details p {
  line-height: 20px;
  font-size: 14px;
}

#about > .container > .details > div > div > p {
  font-family: var(--sf-pro-display-bold);
}

#about > .container > .details > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#about > .container > .details > p {
  line-height: 20px;
}

/* Design Process */

#design_process > div > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#design_process > div > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#design_process > div > .container > .header > * {
  text-align: center;
}

#design_process > div > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#design_process > div > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

#design_process > div > .container > .header > p > a {
  text-decoration: underline;
}

/* Hero Section */

#hero_section > div > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#hero_section > div > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#hero_section > div > .container > .header > * {
  text-align: center;
}

#hero_section > div > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#hero_section > div > .container > .header > p,
#hero_section > div > .container > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

/* Trusted By Section */

#trusted_by_section > div > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#trusted_by_section > div > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#trusted_by_section > div > .container > .header > * {
  text-align: center;
}

#trusted_by_section > div > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#trusted_by_section > div > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

/* Strong Arm Scholarship Section */

#strong_arm_scholarship_section > div > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#strong_arm_scholarship_section > div > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#strong_arm_scholarship_section > div > .container > .header > * {
  text-align: center;
}

#strong_arm_scholarship_section > div > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#strong_arm_scholarship_section > div > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

/* Blogs Section */

#blogs_section > div > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#blogs_section > div > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#blogs_section > div > .container > .header > * {
  text-align: center;
}

#blogs_section > div > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#blogs_section > div > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

/* Stay Informed Section */

#stay_informed_section > div > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#stay_informed_section > div > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#stay_informed_section > div > .container > .header > * {
  text-align: center;
}

#stay_informed_section > div > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#stay_informed_section > div > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

/* Conclusion */

#conclusion > .container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#conclusion > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#conclusion > .container > .header > * {
  text-align: center;
}

#conclusion > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#conclusion > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

#conclusion > .container > .header > p > a {
  text-decoration: underline;
}

#conclusion > .container > .btn > .suffix {
  transition: all 250ms ease;
}

#conclusion > .container > .btn:hover > .suffix {
  transform: translateX(2px);
}

/* Screen Width: 768px */

@media only screen and (min-width: 768px) {
  /* Hero */

  #hero > .container {
    gap: 64px;
    padding: 80px 24px;
  }

  #hero .header {
    gap: 24px;
    width: 600px;
  }
  
  #hero .header > h1 {
    font-size: 32px;
  }
  
  #hero .header p {
    line-height: 20px;
    font-size: 16px;
  }
  
  #hero img {
    width: 650px;
  }

  /* About */

  #about > .container {
    gap: 80px;
    padding: 100px 64px;
  }

  #about > .container > .details {
    flex-direction: row;
    justify-content: space-between;
  }

  #about > .container > .details > div > div {
    gap: 16px;
  }

  #about > .container > .details > div > div > div {
    gap: 8px;
  }

  #about > .container > .details p {
    font-size: 16px;
  }

  #about > .container > .details > p {
    width: 350px;
    line-height: 22px;
  }

  /* Design Process */

  #design_process > div > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #design_process > div > .container > .header {
    width: 450px;
  }

  #design_process > div > .container > .header > h2 {
    font-size: 32px;
  }

  #design_process > div > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }

  #design_process > div > .container > img {
    width: 500px;
  }

  /* Hero Section */

  #hero_section > div > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #hero_section > div > .container > .header {
    width: 450px;
  }

  #hero_section > div > .container > .header > h2 {
    font-size: 32px;
  }

  #hero_section > div > .container > .header > p,
  #hero_section > div > .container > p {
    line-height: 22px;
    font-size: 16px;
  }

  #hero_section .video_container {
    gap: 40px;
  }

  #hero_section .video_container > h3 {
    font-size: 20px;
  }

  /* Trusted By Section */

  #trusted_by_section > div > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #trusted_by_section > div > .container > .header {
    width: 450px;
  }

  #trusted_by_section > div > .container > .header > h2 {
    font-size: 32px;
  }

  #trusted_by_section > div > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }

  /* Strong Arm Scholarship Section */

  #strong_arm_scholarship_section > div > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #strong_arm_scholarship_section > div > .container > .header {
    width: 450px;
  }

  #strong_arm_scholarship_section > div > .container > .header > h2 {
    font-size: 32px;
  }

  #strong_arm_scholarship_section > div > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }

  /* Blogs Section */

  #blogs_section > div > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #blogs_section > div > .container > .header {
    width: 450px;
  }

  #blogs_section > div > .container > .header > h2 {
    font-size: 32px;
  }

  #blogs_section > div > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }

  /* Stay Informed Section */

  #stay_informed_section > div > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #stay_informed_section > div > .container > .header {
    width: 450px;
  }

  #stay_informed_section > div > .container > .header > h2 {
    font-size: 32px;
  }

  #stay_informed_section > div > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }
  
  /* Conclusion */

  #conclusion > .container {
    gap: 64px;
    padding: 64px;
  }

  #conclusion > .container > .header {
    width: 450px;
  }

  #conclusion > .container > .header > h2 {
    font-size: 32px;
  }

  #conclusion > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }
}

/* Screen Width: 900px */

@media only screen and (min-width: 900px) {
  /* About */

  #about > .container > .details {
    justify-content: center;
    gap: 120px;
  }
}

/* Screen Width: 1280px */

@media only screen and (min-width: 1280px) {
  /* Hero */

  #hero > .container {
    gap: 80px;
  }

  #hero img {
    width: 850px;
  }

  /* About */

  #about > .container {
    padding: 120px 200px;
  }

  #about > .container > .details {
    padding: 0 96px;
  }

  #about > .container > .details > div > div {
    width: 250px;
  }

  #about > .container > .details > p {
    width: 400px;
  }

  /* Design Process */

  #design_process > div > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #design_process > div > .container > .header {
    width: 500px;
  }

  #design_process > div > .container > .header > h2 {
    font-size: 40px;
  }

  #design_process > div > .container > img {
    width: 600px;
  }

  /* Hero Section */

  #hero_section > div > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #hero_section > div > .container > .header {
    width: 500px;
  }

  #hero_section > div > .container > .header > h2 {
    font-size: 40px;
  }

  /* Trusted By Section */

  #trusted_by_section > div > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #trusted_by_section > div > .container > .header {
    width: 500px;
  }

  #trusted_by_section > div > .container > .header > h2 {
    font-size: 40px;
  }

  /* Strong Arm Scholarship Section */

  #strong_arm_scholarship_section > div > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #strong_arm_scholarship_section > div > .container > .header {
    width: 500px;
  }

  #strong_arm_scholarship_section > div > .container > .header > h2 {
    font-size: 40px;
  }

  /* Blogs Section */

  #blogs_section > div > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #blogs_section > div > .container > .header {
    width: 500px;
  }

  #blogs_section > div > .container > .header > h2 {
    font-size: 40px;
  }

  /* Stay Informed Section */

  #stay_informed_section > div > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #stay_informed_section > div > .container > .header {
    width: 500px;
  }

  #stay_informed_section > div > .container > .header > h2 {
    font-size: 40px;
  }

  /* Conclusion */

  #conclusion > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #conclusion > .container > .header {
    width: 500px;
  }

  #conclusion > .container > .header > h2 {
    font-size: 40px;
  }
}

/* Screen Width: 1440px */

@media only screen and (min-width: 1440px) {
  /* Hero */

  #hero > .container {
    gap: 64px;
  }

  #hero .header {
    width: 650px;
  }
  
  #hero .header > h1 {
    font-size: 40px;
  }
  
  #hero .header p {
    line-height: 22px;
    font-size: 18px;
  }

  /* About */

  #about > .container {
    padding: 120px 200px;
  }

  #about > .container > .details {
    padding: 0 150px;
  }

  /* Design Process */

  #design_process > div > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  /* Hero Section */

  #hero_section > div > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  /* Trusted By Section */

  #trusted_by_section > div > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  /* Strong Arm Scholarship Section */

  #strong_arm_scholarship_section > div > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  /* Blogs Section */

  #blogs_section > div > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  /* Stay Informed Section */

  #stay_informed_section > div > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  /* Conclusion */

  #conclusion > .container {
    padding: 120px 200px;
  }
}

/* Screen Width: 1745px */

@media only screen and (min-width: 1745px) {
  /* About */

  #about > .container > div {
    padding: 0 150px;
  }

  /* Design Process */

  #design_process > div > .container {
    padding: 120px 400px;
  }

  /* Hero Section */

  #hero_section > div > .container {
    padding: 120px 400px;
  }

  /* Trusted By Section */

  #trusted_by_section > div > .container {
    padding: 120px 400px;
  }
  
  /* Strong Arm Scholarship Section */

  #strong_arm_scholarship_section > div > .container {
    padding: 120px 400px;
  }

  /* Blogs Section */

  #blogs_section > div > .container {
    padding: 120px 400px;
  }

  /* Stay Informed Section */

  #stay_informed_section > div > .container {
    padding: 120px 400px;
  }
}

/* Screen Width: 1872px */

@media only screen and (min-width: 1872px) {
  /* About */

  #about > .container {
    padding: 120px 400px;
  }
}

/* Screen Width: 1920px */

@media only screen and (min-width: 1920px) {
  /* About */

  #about > .container {
    padding: 120px 450px;
  }
}