/* Navigation Bar */

header nav > a > .logo {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%);
}

header nav > ul > li > a,
header nav > ul > li > .link {
  color: var(--primary-color);
}

header nav > ul > li > button > .prefix .icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%);
}

/* Hero */

#hero > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 64px 24px 0;
}

#hero .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 350px;
}

#hero .header > h1,
#hero .header > p {
  text-align: center;
}

#hero .header > h1 {
  /* font-family: var(--sf-pro-display-bold); */
  font-size: 24px;
}

#hero .header p {
  line-height: 18px;
  letter-spacing: -0.4px;
  /* font-family: var(--sf-pro-display-medium); */
  font-size: 14px;
  font-weight: 500;
}

#hero img {
  width: 350px;
}

/* About */

#about {
  background-color: #F2F2F2;
}

#about > .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 48px 24px;
}

#about > .container > .details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#about > .container > .details > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#about > .container > .details > div > div {
  display: flex;
  gap: 12px;
}

#about > .container > .details p {
  line-height: 20px;
  font-size: 14px;
}

#about > .container > .details > div > div > p {
  /* font-family: var(--sf-pro-display-bold); */
  font-weight: 700;
}

#about > .container > .details > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#about > .container > .details > p {
  line-height: 20px;
}

/* Ideation */

#ideation > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#ideation > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#ideation > .container > .header > * {
  text-align: center;
}

#ideation > .container > .header > h2 {
  /* font-family: var(--sf-pro-display-bold); */
}

#ideation > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

/* Mission & Vision */

#mission_and_vision > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
  background-color: var(--primary-color);
}

#mission_and_vision > .container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#mission_and_vision > .container > div > h2,
#mission_and_vision > .container > div > p {
  color: var(--secondary-color);
}

#mission_and_vision > .container > div > h2 {
  /* font-family: var(--sf-pro-display-bold); */
}

#mission_and_vision > .container > div > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

/* Typography */

#typography > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#typography > .container > .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

#typography > .container > .header > * {
  text-align: center;
}

#typography > .container > .header > h2 {
  /* font-family: var(--sf-pro-display-bold); */
}

#typography > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

#typography > .container > .stacks {
  display: grid;
  grid-template-areas:
    'stack_1 stack_1 stack_1 stack_1'
    'stack_2 stack_2 stack_2 stack_2'
    'stack_3 stack_3 stack_3 stack_3'
    'stack_4 stack_4 stack_4 stack_4';
  gap: 16px;
  width: 100%;
}

#typography > .container > .stacks > .stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
}

#typography > .container > .stacks > .stack > img {
  width: 300px;
}

#typography > .container > .stacks > .stack_1 {
  gap: 24px;
  grid-area: stack_1;
  height: 200px;
}

#typography > .container > .stacks > .stack_1 > p,
#typography > .container > .stacks > .stack_1 > div {
  width: 290px;
}

#typography > .container > .stacks > .stack_1 > p {
  font-family: var(--sf-pro-display-bold);
  font-size: 24px;
}

#typography > .container > .stacks > .stack_1 > div {
  display: flex;
  align-items: center;
  gap: 16px;
}

#typography > .container > .stacks > .stack_1 > div > p {
  font-family: var(--sf-pro-display-bold);
  font-size: 24px;
}

#typography > .container > .stacks > .stack_1 > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#typography > .container > .stacks > .stack_1 > div > div > p {
  font-family: var(--sf-pro-display-bold);
  font-size: 14px;
}

#typography > .container > .stacks > .stack_2,
#typography > .container > .stacks > .stack_3 {
  padding: 10px;
}

#typography > .container > .stacks > .stack_2 {
  grid-area: stack_2;
}

#typography > .container > .stacks > .stack_3 {
  grid-area: stack_3;
}

#typography > .container > .stacks > .stack_4 {
  position: relative;
  grid-area: stack_4;
  overflow: hidden;
  padding-top: 48px;
}

#typography > .container > .stacks > .stack_4 > img {
  width: 250px;
}

/* Other Features */

#other_features {
  background-color: #161616;
}

#other_features > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#other_features > .container > h2 {
  color: var(--secondary-color);
  text-align: center;
  /* font-family: var(--sf-pro-display-medium); */
}

#other_features > .container > .stacks {
  display: grid;
  grid-template-areas:
      'stack_1 stack_1 stack_1'
      'stack_2 stack_2 stack_2'
      'stack_3 stack_3 stack_3'
      'stack_4 stack_4 stack_4'
      'stack_5 stack_5 stack_5'
      'stack_6 stack_6 stack_6'
      'stack_7 stack_7 stack_7';
  gap: 16px;
}

#other_features > .container > .stacks > .stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 24px;
  border-radius: 24px;
  background-color: #393939;
}

#other_features > .container > .stacks > .stack > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#other_features > .container > .stacks > .stack > .header > h3 {
  color: var(--secondary-color);
  text-align: center;
  text-transform: uppercase;
  /* font-family: var(--sf-pro-display-medium); */
  font-size: 18px;
  font-weight: 500;
}

#other_features > .container > .stacks > .stack > .header > p {
  color: #C1C1C1;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

#other_features > .container > .stacks > .stack_1 {
  grid-area: stack_1;
}

#other_features > .container > .stacks > .stack_1 > .vectors {
  display: flex;
  align-items: center;
  gap: 32px;
}

#other_features > .container > .stacks > .stack_1 > .vectors > img {
  width: 100%;
}

#other_features > .container > .stacks > .stack_2 {
  grid-area: stack_2;
}

#other_features > .container > .stacks > .stack_2 > img {
  width: 328px;
}

#other_features > .container > .stacks > .stack_3 {
  grid-area: stack_3;
}

#other_features > .container > .stacks > .stack_4 {
  grid-area: stack_4;
  padding-top: 0;
}

#other_features > .container > .stacks > .stack_5 {
  grid-area: stack_5;
}

#other_features > .container > .stacks > .stack_6 {
  grid-area: stack_6;
}

#other_features > .container > .stacks > .stack_7 {
  grid-area: stack_7;
}

#other_features > .container > .stacks > .stack_3 > img,
#other_features > .container > .stacks > .stack_4 > img,
#other_features > .container > .stacks > .stack_5 > img,
#other_features > .container > .stacks > .stack_6 > img {
  width: 300px;
}

#other_features > .container > .stacks > .stack_7 > img {
  width: 150px;
}

/* Conclusion */

#conclusion > .container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#conclusion > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#conclusion > .container > .header > * {
  text-align: center;
}

#conclusion > .container > .header > h2 {
  /* font-family: var(--sf-pro-display-bold); */
}

#conclusion > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

#conclusion > .container > .btn > .suffix {
  transition: all 250ms ease;
}

#conclusion > .container > .btn:hover > .suffix {
  transform: translateX(2px);
}

/* Screen Width: 768px */

@media only screen and (min-width: 768px) {
  /* Hero */

  #hero > .container {
    gap: 64px;
    padding: 80px 24px 0;
  }

  #hero .header {
    gap: 14px;
    width: 600px;
  }
  
  #hero .header > h1 {
    font-size: 32px;
  }
  
  #hero .header p {
    line-height: 22px;
    font-size: 16px;
  }
  
  #hero img {
    width: 400px;
  }

  /* About */

  #about > .container {
    gap: 80px;
    padding: 100px 64px;
  }

  #about > .container > .details {
    flex-direction: row;
    justify-content: space-between;
  }

  #about > .container > .details > div > div {
    gap: 16px;
  }
  
  #about > .container > .details > div > div > div {
    gap: 8px;
  }

  #about > .container > .details p {
    font-size: 16px;
  }

  #about > .container > .details > p {
    width: 350px;
    line-height: 22px;
  }

  /* Ideation */

  #ideation > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #ideation > .container > .header {
    gap: 14px;
    width: 450px;
  }

  #ideation > .container > .header > h2 {
    font-size: 32px;
  }

  #ideation > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }

  /* Mission & Vision */

  #mission_and_vision > .container {
    gap: 64px;
    padding: 64px;
  }

  #mission_and_vision > .container > div {
    gap: 14px;
    width: 450px;
  }

  #mission_and_vision > .container > div > h2 {
    font-size: 32px;
  }

  #mission_and_vision > .container > div > p {
    line-height: 22px;
    font-size: 16px;
  }

  /* Typography */

  #typography > .container {
    gap: 64px;
    padding: 64px;
  }

  #typography > .container > .header {
    gap: 14px;
  }

  #typography > .container > .header > h2 {
    font-size: 32px;
  }

  #typography > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }

  #typography > .container > .stacks {
    grid-template-areas:
      'stack_1 stack_1 stack_1 stack_1'
      'stack_2 stack_2 stack_4 stack_4'
      'stack_3 stack_3 stack_4 stack_4';
  }

  #typography > .container > .stacks > .stack_1 {
    gap: 40px;
    height: 284px;
  }
  
  #typography > .container > .stacks > .stack_1 > p,
  #typography > .container > .stacks > .stack_1 > div {
    width: 450px;
  }
  
  #typography > .container > .stacks > .stack_1 > p {
    font-size: 40px;
  }
  
  #typography > .container > .stacks > .stack_1 > div {
    gap: 24px;
  }
  
  #typography > .container > .stacks > .stack_1 > div > p {
    font-size: 40px;
  }
  
  #typography > .container > .stacks > .stack_1 > div > div > p {
    font-size: 20px;
  }

  #typography > .container > .stacks > .stack_2,
  #typography > .container > .stacks > .stack_3 {
    width: 100%;
    height: 240px;
  }

  #typography > .container > .stacks > .stack_4 {
    width: 320px;
  }

  #typography > .container > .stacks > .stack_4 > img {
    position: absolute;
    bottom: 0;
    left: 48px;
    width: 300px;
  }

  /* Other Features */

  #other_features > .container {
    gap: 64px;
    padding: 64px;
  }

  #other_features > .container > h2 {
    font-size: 32px;
  }

  #other_features > .container > .stacks {
    gap: 24px;
  }

  #other_features > .container > .stacks > .stack {
    width: 450px;
  }

  #other_features > .container > .stacks > .stack > .header {
    gap: 14px;
  }

  #other_features > .container > .stacks > .stack > .header > p {
    line-height: 22px;
    font-size: 16px;
  }

  #other_features > .container > .stacks > .stack_2 > img {
    width: 360px;
  }

  #other_features > .container > .stacks > .stack_3 > img,
  #other_features > .container > .stacks > .stack_4 > img,
  #other_features > .container > .stacks > .stack_5 > img,
  #other_features > .container > .stacks > .stack_6 > img {
    width: 333px;
  }

  #other_features > .container > .stacks > .stack_7 > img {
    width: 230px;
  }

  /* Conclusion */

  #conclusion > .container {
    gap: 64px;
    padding: 64px;
  }

  #conclusion > .container > .header {
    gap: 14px;
    width: 450px;
  }

  #conclusion > .container > .header > h2 {
    font-size: 32px;
  }

  #conclusion > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }
}

/* Screen Width: 900px */

@media only screen and (min-width: 900px) {
  /* About */

  #about > .container > .details {
    justify-content: center;
    gap: 120px;
  }
}

/* Screen Width: 1280px */

@media only screen and (min-width: 1280px) {
  /* Hero */

  #hero > .container {
    gap: 80px;
  }

  /* About */

  #about > .container {
    padding: 120px 200px;
  }

  #about > .container > .details {
    padding: 0 96px;
  }

  #about > .container > .details > p {
    width: 400px;
  }

  /* Ideation */

  #ideation > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #ideation > .container > .header {
    width: 500px;
  }

  #ideation > .container > .header > h2 {
    font-size: 40px;
  }

  /* Mission & Vision */

  #mission_and_vision > .container {
    gap: 80px;
    padding: 80px;
  }

  #mission_and_vision > .container > div {
    width: 500px;
  }
  
  #mission_and_vision > .container > div > h2 {
    font-size: 40px;
  }

  /* Typography */

  #typography > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #typography > .container > .header {
    width: 500px;
  }

  #typography > .container > .header > h2 {
    font-size: 40px;
  }

  #typography > .container > .stacks {
    width: fit-content;
  }

  /* Other Features */

  #other_features > .container {
    gap: 80px;
    padding: 80px;
  }

  #other_features > .container > h2 {
    font-size: 40px;
  }
  
  /* Conclusion */

  #conclusion > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #conclusion > .container > .header {
    width: 500px;
  }

  #conclusion > .container > .header > h2 {
    font-size: 40px;
  }

  #conclusion > .container > img {
    width: 600px;
  }
}

/* Screen Width: 1440px */

@media only screen and (min-width: 1440px) {
  /* Hero */

  #hero .header {
    width: 650px;
  }
  
  #hero .header > h1 {
    font-size: 40px;
  }
  
  #hero .header p {
    line-height: 22px;
    font-size: 18px;
  }
  
  #hero img {
    width: 500px;
  }

  /* About */

  #about > .container {
    padding: 120px 200px;
  }

  #about > .container > .details {
    padding: 0 150px;
  }

  /* Ideation */

  #ideation > .container {
    gap: 120px;
    padding: 120px 200px;
  }
  
  /* Typography */

  #typography > .container {
    gap: 120px;
    padding: 120px 200px;
  }
  
  #typography > .container > .stacks {
    grid-template-areas:
      'stack_1 stack_1 stack_4 stack_4'
      'stack_2 stack_3 stack_4 stack_4'
      'stack_2 stack_3 stack_4 stack_4';
    gap: 24px;
  }

  #typography > .container > .stacks > .stack_1 {
    width: 600px;
    height: 280px;
  }

  #typography > .container > .stacks > .stack_2,
  #typography > .container > .stacks > .stack_3 {
    width: 288px;
  }

  #typography > .container > .stacks > .stack_2 > img,
  #typography > .container > .stacks > .stack_3 > img {
    width: 264px;
  }

  /* Other Features */

  #other_features > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  #other_features > .container > .stacks {
    grid-template-areas:
        'stack_1 stack_3 stack_4'
        'stack_2 stack_3 stack_4'
        'stack_2 stack_3 stack_4'
        'stack_2 stack_3 stack_4'
        'stack_5 stack_6 stack_7'
        'stack_5 stack_6 stack_7'
        'stack_5 stack_6 stack_7';
  }

  #other_features > .container > .stacks > .stack {
    width: fit-content;
  }

  #other_features > .container > .stacks > .stack_1 {
    height: 240px;
  }

  #other_features > .container > .stacks > .stack_2 {
    height: 360px;
  }

  #other_features > .container > .stacks > .stack_2 > img {
    width: 360px;
  }

  /* Conclusion */

  #conclusion > .container {
    padding: 120px 200px;
  }
}

/* Screen Width: 1745px */

@media only screen and (min-width: 1745px) {
  /* About */

  #about > .container > div {
    padding: 0 150px;
  }

  /* Ideation */

  #ideation > .container {
    padding: 120px 400px;
  }

  /* Other Features */

  #other_features > .container {
    padding: 120px 400px;
  }
}

/* Screen Width: 1872px */

@media only screen and (min-width: 1872px) {
  /* About */

  #about > .container {
    padding: 120px 400px;
  }
}

/* Screen Width: 1920px */

@media only screen and (min-width: 1920px) {
  /* About */

  #about > .container {
    padding: 120px 450px;
  }
}