/* Navigation Bar */

header nav > a > .logo {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%);
}

header nav > ul > li > a,
header nav > ul > li > .link {
  color: var(--primary-color);
  text-decoration: none;
}

header nav > ul > li > button > .prefix .icon {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(75%);
}

/* Hero */

#hero > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 64px 24px;
}

#hero .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 350px;
}

#hero .header > h1,
#hero .header > p {
  text-align: center;
}

#hero .header > h1 {
  font-family: var(--sf-pro-display-bold);
  font-size: 24px;
}

#hero .header p {
  line-height: 18px;
  font-family: var(--sf-pro-display-medium);
  font-size: 14px;
}

#hero img {
  width: 350px;
}

/* About */

#about {
  background-color: #F2F2F2;
}

#about > .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 48px 24px;
}

#about > .container > .details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#about > .container > .details > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

#about > .container > .details > div > div {
  display: flex;
  gap: 12px;
}

#about > .container > .details p {
  line-height: 20px;
  font-size: 14px;
}

#about > .container > .details > div > div > p {
  font-family: var(--sf-pro-display-bold);
}

#about > .container > .details > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#about > .container > .details > p {
  line-height: 20px;
}

/* Brand Perception */

#brand_perception > div > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#brand_perception > div > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#brand_perception > div > .container > .header > * {
  text-align: center;
}

#brand_perception > div > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#brand_perception > div > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

#brand_perception > div > .container > .header > p > a {
  text-decoration: underline;
}

#brand_perception > div > .container > video {
  box-shadow: 0px 0px 20px 0px #CCC;
}

/* Programs Stacks */

#programs_stacks > div > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#programs_stacks > div > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#programs_stacks > div > .container > .header > * {
  text-align: center;
}

#programs_stacks > div > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#programs_stacks > div > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

#programs_stacks .stacks {
  display: grid;
  gap: 24px;
}

/* Mentors Section */

#mentors_section {
  background-color: #2B3260;
}

#mentors_section > div > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#mentors_section > div > .container > h2 {
  color: var(--secondary-color);
  text-align: center;
  font-family: var(--sf-pro-display-bold);
}

/* Testimonials Section */

#testimonials_section > div > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#testimonials_section > div > .container > h2 {
  text-align: center;
  font-family: var(--sf-pro-display-bold);
}

#testimonials_section > div > .container > img {
  box-shadow: 0px 0px 20px 0px #CCC;
}

/* FAQs Section */

#faqs_section > div > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#faqs_section > div > .container > h2 {
  text-align: center;
  font-family: var(--sf-pro-display-bold);
}

#faqs_section > div > .container > img {
  box-shadow: 0px 0px 20px 0px #CCC;
}

/* Conclusion */

#conclusion > .container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 48px 24px;
}

#conclusion > .container > .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#conclusion > .container > .header > * {
  text-align: center;
}

#conclusion > .container > .header > h2 {
  font-family: var(--sf-pro-display-bold);
}

#conclusion > .container > .header > p {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

#conclusion > .container > .header > p > a {
  text-decoration: underline;
}

#conclusion > .container > .btn > .suffix {
  transition: all 250ms ease;
}

#conclusion > .container > .btn:hover > .suffix {
  transform: translateX(2px);
}

/* Screen Width: 768px */

@media only screen and (min-width: 768px) {
  /* Hero */

  #hero > .container {
    gap: 64px;
    padding: 80px 24px;
  }

  #hero .header {
    gap: 24px;
    width: 600px;
  }
  
  #hero .header > h1 {
    font-size: 32px;
  }
  
  #hero .header p {
    line-height: 20px;
    font-size: 16px;
  }
  
  #hero img {
    width: 650px;
  }

  /* About */

  #about > .container {
    gap: 80px;
    padding: 100px 64px;
  }

  #about > .container > .details {
    flex-direction: row;
    justify-content: space-between;
  }

  #about > .container > .details > div > div {
    gap: 16px;
  }

  #about > .container > .details > div > div > div {
    gap: 8px;
  }

  #about > .container > .details p {
    font-size: 16px;
  }

  #about > .container > .details > p {
    width: 350px;
    line-height: 22px;
  }

  /* Brand Perception */

  #brand_perception > div > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #brand_perception > div > .container > .header {
    width: 450px;
  }

  #brand_perception > div > .container > .header > h2 {
    font-size: 32px;
  }

  #brand_perception > div > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }

  /* Programs Stacks */

  #programs_stacks > div > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #programs_stacks > div > .container > .header {
    width: 450px;
  }

  #programs_stacks > div > .container > .header > h2 {
    font-size: 32px;
  }

  #programs_stacks > div > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }

  #programs_stacks .stacks {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  /* Mentors Section */

  #mentors_section > div > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #mentors_section > div > .container > h2 {
    font-size: 32px;
  }

  /* Testimonials Section */

  #testimonials > div > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #testimonials > div > .container > h2 {
    font-size: 32px;
  }

  /* FAQs Section */

  #faqs_section > div > .container {
    padding: 100px 64px;
    gap: 100px;
  }

  #faqs_section > div > .container > h2 {
    font-size: 32px;
  }

  /* Conclusion */

  #conclusion > .container {
    gap: 64px;
    padding: 64px;
  }

  #conclusion > .container > .header {
    width: 450px;
  }

  #conclusion > .container > .header > h2 {
    font-size: 32px;
  }

  #conclusion > .container > .header > p {
    line-height: 22px;
    font-size: 16px;
  }
}

/* Screen Width: 900px */

@media only screen and (min-width: 900px) {
  /* About */

  #about > .container > .details {
    justify-content: center;
    gap: 120px;
  }
}

/* Screen Width: 1280px */

@media only screen and (min-width: 1280px) {
  /* Hero */

  #hero > .container {
    gap: 80px;
  }

  #hero img {
    width: 850px;
  }

  /* About */

  #about > .container {
    padding: 120px 200px;
  }

  #about > .container > .details {
    padding: 0 96px;
  }

  #about > .container > .details > div > div {
    width: 250px;
  }

  #about > .container > .details > p {
    width: 400px;
  }

  /* Brand Perception */

  #brand_perception > div > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #brand_perception > div > .container > .header {
    width: 500px;
  }

  #brand_perception > div > .container > .header > h2 {
    font-size: 40px;
  }

  /* Programs Stacks */

  #programs_stacks > div > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #programs_stacks > div > .container > .header {
    width: 500px;
  }

  #programs_stacks > div > .container > .header > h2 {
    font-size: 40px;
  }

  /* Mentors Section */

  #mentors_section > div > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #mentors_section > div > .container > .header > h2 {
    font-size: 40px;
  }

  /* Testimonials Section */

  #testimonials_section > div > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #testimonials_section > div > .container > .header > h2 {
    font-size: 40px;
  }

  /* FAQs Section */

  #faqs_section > div > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #faqs_section > div > .container > .header > h2 {
    font-size: 40px;
  }

  /* Conclusion */

  #conclusion > .container {
    gap: 80px;
    padding: 80px 200px;
  }

  #conclusion > .container > .header {
    width: 500px;
  }

  #conclusion > .container > .header > h2 {
    font-size: 40px;
  }
}

/* Screen Width: 1440px */

@media only screen and (min-width: 1440px) {
  /* Hero */

  #hero > .container {
    gap: 64px;
  }

  #hero .header {
    width: 650px;
  }
  
  #hero .header > h1 {
    font-size: 40px;
  }
  
  #hero .header p {
    line-height: 22px;
    font-size: 18px;
  }

  /* About */

  #about > .container {
    padding: 120px 200px;
  }

  #about > .container > .details {
    padding: 0 150px;
  }

  /* Brand Perception */

  #brand_perception > div > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  #brand_perception > div > .container > .header > h2 {
    width: 630px;
  }

  /* Programs Stacks */

  #programs_stacks > div > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  #programs_stacks .stacks {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Mentors Section */

  #mentors_section > div > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  /* Testimonials Section */

  #testimonials_section > div > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  /* FAQs Section */

  #faqs_section > div > .container {
    gap: 120px;
    padding: 120px 200px;
  }

  /* Conclusion */

  #conclusion > .container {
    padding: 120px 200px;
  }
}

/* Screen Width: 1745px */

@media only screen and (min-width: 1745px) {
  /* About */

  #about > .container > div {
    padding: 0 150px;
  }

  /* Brand Perception */

  #brand_perception > div > .container {
    padding: 120px 400px;
  }

  /* Programs Stacks */

  #programs_stacks > div > .container {
    padding: 120px 400px;
  }

  /* Mentors Section */

  #mentors_section > div > .container {
    padding: 120px 400px;
  }

  /* Testimonials Section */

  #testimonials_section > div > .container {
    padding: 120px 400px;
  }

  /* FAQs Section */

  #faqs_section > div > .container {
    padding: 120px 400px;
  }
}

/* Screen Width: 1872px */

@media only screen and (min-width: 1872px) {
  /* About */

  #about > .container {
    padding: 120px 400px;
  }
}

/* Screen Width: 1920px */

@media only screen and (min-width: 1920px) {
  /* About */

  #about > .container {
    padding: 120px 450px;
  }
}